.empty_basket{
    height: 565px;
    p{
        margin: 40px 0 19px;

        .md-block({
            margin: 40px 0 32px;
        });

        .sm-block({
            margin: 53px 0 32px;
        });
    }
    .go_to_catalog {
        display: block;
        width: 269px;
        height: 48px;
        color: #fff;
        text-align: center;
        line-height: 48px;
        border: none;
        vertical-align: middle;
        font-size: 16px;
        white-space: nowrap;
        background: #4550B9;
        text-decoration: none;
        border-radius: 5px;

       

        .sm-block({ width: 100%});

        &:hover {
          background: #374198;
        }
    }
}

