.accordion {
    position: relative;
    margin-top: 40px;




    .md-block({
        
    });



    .sm-block({
       
    });

    .trigger {

        #checkbox-1,
        #checkbox-2,
        #checkbox-3,
        #checkbox-4 {
            display: none;

            &:checked + label {

                .sm-block({
                    margin-bottom: 300px;
                });

                i {

                    &:before {
                        transform: translate(8px,8px) rotate(45deg);
                    }

                    &:after {
                        transform: translate(2px,8px) rotate(-45deg);
                    }               
                }
            }
        }

        .checkbox {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding: 20px 0;
            color: white;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;

            .lg-block({
               font-weight: normal;  
               padding: 20px 0;   
            });

            .md-block({padding: 27px 0;});

            i {
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                right: 0px;
                //float: right;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 2px;
                    background-color: #fff;
                    transition: transform 250ms ease;
                }

                &:before {
                    transform: translate(2px,8px) rotate(45deg);
                }

                &:after {
                    transform: translate(8px,8px) rotate(-45deg);
                }
            }
        }

        .content {
            position: relative;
            max-height: 0px;            
            overflow-y: scroll;
            background-color: @grey_back;
            transition: max-height 500ms ease-in-out;


            p {
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;

                .md-block({
                    font-size: 14px;
                    line-height: 24px;
                });
            }
        }
    }
}

#checkbox-1:checked ~ .content,
#checkbox-2:checked ~ .content,
#checkbox-3:checked ~ .content,
#checkbox-4:checked ~ .content  {
    max-height: 441px;
    padding: 18px 24px 18px 35px;
    transition: max-height 500ms ease-in-out;
    margin-bottom: 20px;

    .lg-block({
        padding: 18px 29px 18px 40px;
        max-height: 412px;
        margin-bottom: 4px;
    });
    .md-block({
        padding: 22px 29px 18px 16px;
        max-height: 289px;
        margin-bottom: 0px;
    });

    .sm-block({
        position: absolute;
        top: 77px;
        right: -16px;
        left: -17px;
        padding: 22px 14px 18px 17px;
    });
}