.top-line-account{
	background: #1A1A1A;
	height: 103px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 20px;
	margin-top: 80px;
	
	.md-block({
		height: 76px;
		margin-top: 56px;
	});

	.sm-block({
		align-items: center;
		padding-bottom: 0px;
		background: inherit;
	});

	.wrapper{

		display: flex;
		justify-content: space-between;
		width: 100%;

		h1{
			.MBold;
			font-size: 20px;
			line-height: 24px;
		}

		.wrap_account-userinfo_card {
	        display: flex;
	        justify-content: space-between;
	        width: 328px;

	        .sm(display, none);

	        .block-account-userinfo {
	          display: flex;
	          align-items: center;

	          	&__icon {
		            display: inline-block;
		            background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
		            height: 24px;
		            width: 24px;
		            min-width: 24px;
		            margin-right: 8px;
		            margin-bottom: 3px;
	          	}
	          	&__head{
	            	text-decoration: none;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
	          	}
	        }
	        .block-card {
	          display: flex;
	          align-items: center;

	          	&__icon{
		            display: inline-block;
		            background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
		            height: 24px;
		            width: 24px;
		            min-width: 24px;
		            margin-right: 8px;
		            margin-bottom: 3px;
	          	}
	          	&__head{
	            	text-decoration: none;
	            	font-weight: 600;
					font-size: 16px;
					line-height: 20px;
	          	}
	        }
	    }
	}

}


.account-content{
 height: 2000px;
}