.head_basket {
  margin-top: 128px;
  height: 88px;
  background: #1a1a1a;
  .md-block({ margin-top: 54px; height: 56px; });

  .wrap_head {
    height: 100%;

    .header_basket {
      height: 100%;

      h1 {
        padding-top: 47px;
        font-size: 20px;
        line-height: 16px;
        .MBold;

        .md-block({ line-height: 56px; padding-top: 0; font-size: 18px;});

        span {
          margin-left: 5px;
          .M;
          color: @grey_text_bold;
          font-size: 16px;
        }
      }
    }
  }
}

/* Контент */
.wrap_cards_checkout {
  margin-bottom: 60px;
  display: flex;

  .lg-block({ justify-content: space-between; });
  .sm-block({ display: block; });
}

/* Блок со списком товаров */
.basket_cards {
  display: block;
  margin-top: 35px;

  .md-block({margin-top: 27px;});

  li {
    display: flex;
    min-height: 132px;
    min-width: 752px;
    margin-bottom: 40px;
    position: relative;

    .lg-block({ margin-bottom: 30px; min-width: 608px; });
    .md-block({ min-width: 440px; margin-bottom: 20px; padding-bottom: 20px; });
    .sm-block({ min-width: 0; flex-wrap: wrap; });

    &:not(:last-child)::after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: -30px;
      right: -30px;
      height: 1px;
      width: 300%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0;

      .md-block({ display: inline-block; });
    }

    .wrap_img {
      width: 152px;
      height: 133px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 16px;

      .md-block({ width: 69px; height: 68px; margin-top: 36px; });
      .sm-block({ width: 80px; height: 70px; min-width: 80px; min-height: 70px; margin-top: 0; });

      img {
        width: 152px;
        height: 133px;
        border-radius: 5px;

        .md-block({ width: 69px; height: 68px; });
        .sm-block({ width: 100%; });
      }
    }

    .description {
      max-width: 419px;
      width: 100%;

      .sm-block({ max-width: none; });

      &__name {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        .M;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: left;

        .md-block({ margin-left: -132px; max-width: 387px; margin-bottom: 4px; overflow: hidden; });
        .sm-block({ max-width: none; margin-left: -74px; display: none; });
      }

      &__code {
        font-size: 14px;
        color: @grey_text_bold;
        line-height: 16px;
        margin-bottom: 10px;

        .md-block({ margin-bottom: 13px; font-size: 12px; margin-left: 10px; });
        .sm-block({ font-size: 10px; display: none; });

        span {
          .md-block({ font-size: 12px; });
        }
      }

      &__color {
        font-size: 14px;
        color: @grey_text_bold;
        line-height: 16px;
        margin-bottom: 10px;
        .md-block({ margin-bottom: 17px; margin-left: 10px; });
        .sm(display, none);
      }

      &__remove_from_basket {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .lg-block({ justify-content: center; });
        .sm-block({ align-items: center; margin-left: -95px; margin-top: 77px; });
        .md-block({ justify-content: flex-start; margin-left: 0; margin-top: 8px; });

        .icon_remove {
          width: 24px;
          height: 24px;
          display: inline-block;
          background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
          margin-right: 8px;

          .md-block({ background: url(../img/cart/cart_mob.svg) center center/cover no-repeat no-repeat; margin-right: 8px; });
          .sm-block({ background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat; height: 14px; width: 13px; });
        }

        .text_remove {
          display: inline-block;
          text-decoration: none;
          font-size: 12px !important;
          color: @grey_text_bold;

          .mob_hide {
            font-size: 12px !important;
          }
        }
      }
    }

    .price_block {
      width: 155px;
      text-align: right;

      .lg-block({ margin-left: -134px; });
      .md-block({ margin-left: -134px; margin-top: auto; });
      .sm-block({ margin-left: auto; width: auto; margin-top: -91px;});

      &__form {
        padding-top: 54px;
        width: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;

        .md-block({ width: 105px; padding-top: 49px; });
        .sm-block({ padding-top: 0; });

        .minus,
        .plus {
          display: inline-block;
          height: 23px;
          width: 23px;
          background: #191919;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          line-height: 23px;
          font-size: 30px;
          margin: 0;
          padding: 0;

          .md-block({ width: 40px; height: 40px; line-height: 40px; });
        }

        .form_inp {
          display: inline-block;
          background: transparent;
          border: none;
          outline: none;
          width: 29px;
          text-align: center;
          margin: 0;
          padding: 0;
          .MBold;
        }
      }

      .price {
        //display: block;
        text-align: right;
        margin-top: 9px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 48px;

        .md-block({ margin-top: 6px; height: 46px; });
        .sm-block({ margin-top: 18px; display: flex; align-items: flex-end; justify-content: flex-end; height: auto; flex-direction: row; });

        .price__before {
          display: inline-block;
          font-size: 14px;
          color: @grey_text_bold;
          overflow: hidden;
          position: relative;

          .sm-block({ order: 2; margin-left: 7px; margin-bottom: 1px; });

          &::before {
            content: '';
            height: 1px;
            width: 100%;
            background: lightseagreen;
            position: absolute;
            top: 50%;
            opacity: .5;
          }
        }

        .price__after {
          display: inline-block;
          .MBold;
          font-size: 24px;
          line-height: 28px;
          color: #fff;

          margin-top: auto;

          .md-block({ font-size: 20px; });
          .sm-block({ order: 1; line-height: 24px; });
        }
      }
    }
  }
}

/* Блок Оформление */
.checkout_wrap {
  background: #323232;
  border-radius: 10px;
  width: 391px;
  height: 457px;
  padding: 27px 24px 36px 24px;
  margin-right: -22px;
  margin-top: -70px;
  position: relative;
  z-index: 10;

  .lg-block({ width: 321px; });
  .md-block({ margin-top: -41px; padding: 29px 16px 32px 15px; });
  .sm-block({ margin-top: 40px; padding: 24px 19px 33px 19px; width: 100%; margin-right: -16px; margin-left: -16px; });
}

.checkout_wrap {
  margin-left: 16px;
  box-shadow: 0px 5px 6px rgba(25, 24, 24, 0.69);

  .md-block({ margin-right: 0; margin-left: 11px;});
  .sm-block({ margin: 0; box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); });
/*  .xs-block({ width: 106.1%; });
  .xxs-block({ width: 108.2%; });
  .i5-block({ width: 112%; });*/

  .head_checkout_basket {
    font-size: 20px;
    line-height: 16px;
    margin-top: 2px;
    .MBold;
  }

  form.promo_code {
    margin: 26px auto 0 auto;
    display: flex;
    justify-content: flex-start;
    .md-block({ margin: 30px auto 0 auto; });

    input {
      background: #1c1c1c;
      width: 66%;
      height: 39px;
      font-size: 14px;
      text-indent: 10px;
      margin-right: -5px;
      vertical-align: middle;
      border: none;
      outline: none;
      border-radius: 0 !important;
      color: @grey_text_bold;

      .lg-block({ font-size: 12px; width: 55%; });
      .md-block({ font-size: 12px; width: 70%; });
    }

    button {
      width: 34%;
      height: 39px;
      color: #fff;
      text-align: center;
      line-height: 39px;
      border: none;
      vertical-align: middle;
      font-size: 14px;
      white-space: nowrap;
      background: @violet;
      border-radius: 0 !important;

      .lg-block({ width: 47%; });

      &:hover {
        background: #374198;
      }
    }
  }

  .payment_list {
    margin: 43px auto 0 auto;
    padding-right: 1px;

    li {
      margin-bottom: 22px;
      display: flex;
      justify-content: space-between;

      div {
        font-size: 16px;

        .lg-block({ font-size: 14px; });
      }

      .dotted {
        flex-grow: 1;
        height: 2px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 13px;
        border-bottom: 1px dotted #6b6b6b;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding-right: 0;
    .MBold;

    .md-block({ margin-top: 61px; });

    h5 {
      .MBold;
      font-size: 20px;
      line-height: 24px;
    }

    .total_price {
      font-size: 20px;
      line-height: 24px;
      .MBold;
    }
  }
  .go_to_registration {
    display: block;
    width: 100%;
    height: 52px;
    color: #fff;
    text-align: center;
    line-height: 52px;
    border: none;
    vertical-align: middle;
    font-size: 16px;
    margin: 34px 0;
    white-space: nowrap;
    background: @violet;
    text-decoration: none;
    border-radius: 5px;

    .md-block({ height: 46px; line-height: 46px; margin-top: 30px;});

    &:hover {
      background: #374198;
    }
  }
}

.mob_hide {
  color: @grey_text_bold;
  font-size: 14px;
  .md(display, none);
}

.description__name-mobile {
  display: none;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  .M;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;

  .md-block({ max-width: 387px; overflow: hidden; });

  .sm-block({ display: block; font-size: 14px; width: 100%; min-width: 100%; });
}

.id_product {
  display: none;
  font-size: 14px;
  color: @grey_text;
  line-height: 16px;
  margin-top: auto;
  .sm-block({ display: block; font-size: 10px; });
}