h2.head_step {
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 29px;
  position: relative;
  .MBold;

  .sm-block({ font-size: 20px; });

  &::after {
    content: '';
    width: 96px;
    height: 16px;
    background: @red;
    position: absolute;
    top: -25px;
    left: 0;

    .sm-block({ height: 8px; });
  }
}

.breadcrumbs_CP {
  margin-top: 160px !important;
  li {
    font-size: 14px !important;
    line-height: 18px !important;
    a {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
}

.wrap_img_description {
  display: flex;
  margin-bottom: 30px;
  margin-top: 4px;

  .sm(display, block);

  .wrap_scroll_img {
    // width: 81px;
    // max-width: 81px;
    // min-width: 81px;
    margin-right: 17px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    // overflow: hidden;

    // .lg-block({ max-height: 432px; overflow: hidden; margin-top: -13px; });
    .sm(display, none);

    .angle_up, .angle_down {
      display: inline-block;
      height: 28px;
      width: 28px;
      flex-shrink: 0;
      background: url(../img/down/onblack.svg) center center/cover no-repeat no-repeat;
      transform: rotate(180deg);
    }
    .angle_up {
      display: none;
    }
    .angle_down {
      transform: rotate(0);
    }

    ul.list_img {
      // max-height: 415px;
      // box-sizing: content-box;
      // padding-right: 16px;
      // max-width: 81px;
      // min-width: 81px;
      // margin-right: -28px;
      // margin-left: -10px;
      overflow: hidden;
      scroll-behavior: smooth;
      flex-shrink: 0;
      height: 495px;

      .lg-block({ });

      li {
        border-radius: 5px;
        overflow: hidden;
        width: 81px;
        display: flex;
        margin-bottom: 8px;

        .lg-block({ width: 78px; });

        img {
          display: inline-block;
          border-radius: 5px;
          width: 100%;
          height: auto;

        }
      }

      li.dark {
        background-color: #000;

        .sm-block({ background-color: transparent; });
        img {
          opacity: 0.5;
          .sm-block({ opacity: 1; });
        }
      }
    }
  }

  .big_img {
    height: 523px;
    width: 560px;
    margin-right: 23px;
    border-radius: 14px;
    overflow: hidden;

    .lg-block({ height: 403px; width: 432px; min-width: 432px; });
    .sm-block({ height: auto; width: 100%; text-align: center; min-width: 0; });

    img {
      height: auto;
      width: 100%;

      .lg-block({ height: 403px; width: 432px; min-width: 432px; });
      .sm-block({ border-radius: 14px; height: auto; width: 100%; min-width: 0; });
    }
  }

  .block_price_description {
    max-width: 457px;

    .md-block({ max-width: 100%; width: 31%; });

    .sm-block({ margin: 0 auto; max-width: 100%; width: 100%; });

    h1.main_header {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 32px;
    }

    .price {
      font-size: 20px;
      .MBold;
      margin-bottom: 19px;
      .sm-block({ max-width: 100%; width: 100%; margin-top: 25px; });
    }

    a#buy_btn {
      display: inline-block;
      width: 80px;
      height: 41px;
      text-align: center;
      line-height: 41px;
      background: @violet;
      text-decoration: none;
      border-radius: 5px;
      margin-bottom: 25px;
      font-size: 13px;
      &:hover {
        background: #36409B;
      }

      .sm-block({ max-width: 100%; width: 100%; });
    }

    #product_availability_information {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      margin-bottom: 18px;
      text-decoration: none;

      .availability__text {
        color: @green_text;
      }

      #not_available {
        color: #900020;
      }

      #cross {
        display: inline-block;
        height: 24px;
        width: 24px;
        background: url(../img/cross.svg) center center / cover no-repeat no-repeat;
        margin-right: 17px;
      }
    }

    #info_delivery {

      .info_delivery__icon {
        display: inline-block;
        height: 24px;
        width: 24px;
        background: url("../img/truck/truck.svg") center center / cover no-repeat no-repeat;
        margin-right: 17px;
      }

      .info_delivery__text {
        font-size: 14px;
        color: #BCBCBC;
        text-decoration: none;
        .md-block({ font-size: 12px; });
      }
    }
    .wrap_img_description .block_price_description #link-downLoad {
      display: -webkit-box;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 35px;
      text-decoration: none;
    }

    .wrap_img_description .block_price_description #link-downLoad .link-downLoad__icon {
      display: inline-block;
      height: 22px;
      width: 18px;
      background: url("../img/file-text/onblack.svg") center center / cover no-repeat no-repeat;
      margin-right: 19px;
    }

    #link-downLoad .link-downLoad__text {
      font-size: 14px;
      color: #BCBCBC;
      text-decoration: none;

      .sm-block({text-decoration: underline;});
    }

    #info_service .service__icon {
      display: inline-block;
      height: 24px;
      width: 24px;
      background: url("../img/cicle_arrow/cicle_arrow.svg") center center / cover no-repeat no-repeat;
      margin-right: 17px;
    }

    #link-downLoad {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 35px;
      text-decoration: none;
      .md-block({ text-align: left; });
      .sm-block({text-decoration: underline;});


      .link-downLoad__icon {
        display: inline-block;
        height: 24px;
        width: 24px;
        background: url("../img/file-text/file-text.svg") center center / cover no-repeat no-repeat;
        margin-right: 17px;
      }

      .link-downLoad__text {
        font-size: 14px;
        color: @grey_text_bold;
        text-decoration: none;

        .md-block({ font-size: 12px; });
        .sm-block({ text-decoration: underline; });
      }
    }
  }
}

.availability__icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../img/green_check/green_check.svg") center center / cover no-repeat no-repeat;
  margin-right: 17px;
}

.wrap_text_description {

  .text_description {
    font-size: 16px;
    line-height: 20px;
    .M;
    opacity: .8;

    .lg-block({ font-size: 14px; })
  }
}

.specifications {
  display: block;

  li {
    list-style: none;
    display: none;
    justify-content: space-between;
    align-items: baseline;
    .sm-block({ margin-bottom: 20px; });
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: flex;

      .sm-block({ display: block; margin-bottom: 20px; });
    }

    span {
      margin-top: 18px;
      margin-bottom: 22px;
      display: inline-block;
      font-size: 16px;

      .sm-block({ display: block; font-size: 12px; margin-bottom: 5px; margin-top: 0; });
    }

    span.line {
      flex-grow: 1;
      //background: #6B6B6B;
      height: 2px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 25px;
      border-bottom: 1px dotted rgba(83, 83, 83, 0.6);
      .sm(display, none);
    }

    span:last-child {
      width: 49.3%;
      font-weight: 500;

      .sm-block({ width: 100%; color: @grey_text_bold; })
    }
  }
}

.show-all {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  .sm-block({ margin-bottom: 0; });

  &__icon {
    display: inline-block;
    height: 22px;
    width: 18px;
    background: url("../img/arrow/onblack.svg") center center/cover no-repeat no-repeat;
    margin-right: 19px;
    transform: rotate(90deg);
  }
  &__text {
    font-size: 16px;
  }
}

h3.h3 {
  font-size: 20px;
  .MBold;
  margin-bottom: 20px;

  .sm(display, none);
}

.wrap_img_description .block_price_description #info_service {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
  text-decoration: none;

  &:hover {
    cursor: auto;
  }
}

#info_service .service__text {
  font-size: 14px;
  color: #BCBCBC;
  text-decoration: none;
}

.wrap_img_description .block_price_description #info_delivery {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
  text-decoration: none;

  &:hover {
    cursor: auto;
  }
}

/* Перенос с main.css */
/*.wrap_img_description .wrap_scroll_img ul.list_img {
    max-height: 550px;
    overflow-y: scroll;
    box-sizing: content-box;
    margin-right: -19px;
    margin-left: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-left: 7px;
    padding-right: 16px;
}

.wrap_img_description .wrap_scroll_img ul.list_img li {
    border-radius: 5px;
    overflow: hidden;
    max-width: 85px;
    min-width: 81px;
    display: inline-block;
    !*padding-left: 10px;*!
}*/

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li {
    max-width: 78px;
    min-width: 78px;
  }
}

.wrap_img_description .wrap_scroll_img ul.list_img li img {
  display: inline-block;
  border-radius: 5px;
  max-width: 81px;
  min-width: 81px;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li img {
    max-width: 78px;
    min-width: 78px;
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li {
    max-width: none;
    min-width: 287px;
  }

  .wrap_img_description .wrap_scroll_img ul.list_img li img {
    display: inline-block;
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 150;
  }

  .wrap_img_description .wrap_scroll_img {
    min-width: 100%;
    overflow: visible;
  }
}

.wrap_img_description {
  display: -webkit-box;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .wrap_img_description {
    display: block;
  }
}

.wrap_img_description .wrap_scroll_img {
  width: 90px;
  max-width: 90px;
  min-width: 90px;
  margin-right: 11px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-height: 525px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img {
    max-height: 432px;
    overflow: hidden;
    /*margin-top: -13px;*/
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .wrap_scroll_img {
    display: none;
  }
}

.wrap_img_description .wrap_scroll_img .angle_up,
.wrap_img_description .wrap_scroll_img .angle_down {
  display: none;
  height: 18px;
  width: 28px;
  background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img .angle_up,
  .wrap_img_description .wrap_scroll_img .angle_down {
    height: 10px;
    width: 25px;
  }
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img .angle_up,
  .wrap_img_description .wrap_scroll_img .angle_down {
    height: 7px;
    width: 20px;
  }
}

.wrap_img_description .wrap_scroll_img .angle_down {
  margin-top: 9px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  cursor: pointer;
}

.wrap_img_description .wrap_scroll_img .angle_up {
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .wrap_img_description .wrap_scroll_img .angle_up,
  .wrap_img_description .wrap_scroll_img .angle_down {
    position: absolute;
    top: 150px;
    left: -12px;
    z-index: 151;
    background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat, #000;
    height: 32px;
    width: 32px;
    border-radius: 35px;
    display: inline-block;

  }

  .wrap_img_description .wrap_scroll_img .angle_up {
    position: absolute;
    top: 150px;
    left: auto;
    right: -12px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

  }

  .wrap_img_description .wrap_scroll_img .angle_down {
    transform: rotate(90deg);
    display: none;
    top: 142px;
  }
}

.wrap_img_description .wrap_scroll_img ul.list_img {
  max-height: 550px;
  box-sizing: content-box;
  /* margin-right: -19px; */
  margin-left: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-left: 14px;
  padding-right: 16px;
}

.wrap_img_description .wrap_scroll_img ul.list_img li {
  border-radius: 5px;
  overflow: hidden;
  max-width: 85px;
  min-width: 81px;
  display: inline-block;
  /*padding-left: 10px;*/
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li {
    max-width: 78px;
    min-width: 78px;
  }
}

.wrap_img_description .wrap_scroll_img ul.list_img li img {
  display: inline-block;
  border-radius: 5px;
  max-width: 81px;
  min-width: 81px;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li img {
    max-width: 78px;
    min-width: 78px;
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li {
    max-width: none;
    min-width: 287px;
  }

  .wrap_img_description .wrap_scroll_img ul.list_img li img {
    display: inline-block;
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 150;
  }

  .wrap_img_description .wrap_scroll_img {
    min-width: 100%;
    overflow: visible;
  }
}

.wrap_img_description .wrap_scroll_img ul.list_img li:not(:last-child) {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .wrap_scroll_img ul.list_img li:not(:last-child) {
    margin-bottom: 0;
  }
}

.wrap_img_description .big_img {
  height: 523px;
  width: 560px;
  margin-right: 23px;
  border-radius: 14px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .big_img {
    height: 403px;
    width: 432px;
    min-width: 432px;
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .big_img {
    height: auto;
    width: 100%;
    text-align: center;
    min-width: 0;
  }
}

.wrap_img_description .big_img img {
  height: 523px;
  width: 560px;
}

@media screen and (max-width: 1279px) {
  .wrap_img_description .big_img img {
    height: 403px;
    width: 432px;
    min-width: 432px;
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .big_img img {
    border-radius: 14px;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}

.wrap_img_description .block_price_description {
  max-width: 457px;
}

@media screen and (max-width: 1023px) {
  .wrap_img_description .block_price_description {
    max-width: 100%;
    width: 31%;
  }
}

@media screen and (max-width: 767px) {
  .wrap_img_description .block_price_description {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
}

.wrap_img_description .block_price_description .price {
  font-size: 20px;
  font-family: 'MontserratBold', sans-serif;
  margin-bottom: 19px;
}

@media screen and (max-width: 767px) {
  .wrap_img_description .block_price_description .price {
    max-width: 100%;
    width: 100%;
    margin-top: 25px;
  }
}

.wrap_img_description .block_price_description a#buy_btn {
  display: inline-block;
  width: 80px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  background: #4550B9;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 25px;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .wrap_img_description .block_price_description a#buy_btn {
    max-width: 100%;
    width: 100%;
  }
}

.wrap_for_angle {
  max-height: 600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;

  .sm-block({ display: block; width: 100%; });
}

.angle_up,
.angle_down {
  display: inline-block;
  height: 28px;
  width: 28px;
  flex-shrink: 0;
  background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.angle_down {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  display: none;
}

.angle_up {
  display: none;
}

.angle_down {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.wrap_img_description .wrap_scroll_img {
  margin-right: 11px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /*max-height: 100%;*/
}

.wrap_img_description .wrap_scroll_img .list_img {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-shrink: 0;
  height: 495px;
}

.wrap_img_description .wrap_scroll_img .list_img li {
  border-radius: 5px;
  overflow: hidden;
  width: 81px;
  display: -webkit-box;
  display: flex;
}

@media screen and (max-width: 767px) {
  .wrap_img_description .wrap_scroll_img .list_img li {
    width: 288px;
    max-width: 320px;
    border-radius: 16px;
    overflow: hidden;
    margin-right: 20px;
    height: 290px;
    min-width: 288px;
    position: relative;
  }
}

.wrap_img_description .wrap_scroll_img .list_img li:not(:last-child) {
  margin-bottom: 7px;
}

.wrap_img_description .wrap_scroll_img .list_img li img {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 150;
}

.wrap_img_description .wrap_scroll_img .list_img li.dark {
  background-color: #000;
}

.wrap_img_description .wrap_scroll_img .list_img li.dark img {
  opacity: 0.5;
}

.text_block_product {
  background: transparent;
  margin-top: -153px !important;
  position: relative;
  padding-bottom: 20px;

  .sm-block({ padding-bottom: 0; });
}

.additionally {
  max-height: 500px;
  overflow: hidden;
}
.company .wrap_content .additionally {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .company .wrap_content .additionally {
    margin-top: 19px;
  }
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 0px;
  }
}

.company .wrap_content .additionally__wrap {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  width: min-content;
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    margin-top: 24px;
    width: 100%;
  }
}

.company .wrap_content .additionally__wrap:nth-child(even) .additionally__wrap__text {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap:nth-child(even) .additionally__wrap__text {
    -webkit-box-pack: unset;
    justify-content: unset;
  }
}

.company .wrap_content .additionally__wrap:nth-child(even) .additionally__wrap__text p {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap:nth-child(even) .additionally__wrap__text p {
    text-align: left;
  }
}

.company .wrap_content .additionally__wrap__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 147px;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap__text {
    background: #191919;
    border-radius: 0 0 16px 16px;
    padding: 26px 12px 20px;
    margin-top: -16px;
    height: auto;
  }
}

.company .wrap_content .additionally__wrap__text p {
  color: #BCBCBC;
  font-size: 14px;
  line-height: 18px;
  width: 94%;
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap__text p {
    width: 100%;
  }
}

.company .wrap_content .additionally__wrap__image {
  border-radius: 16px;
  width: 340px;
  height: 202px;
  flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
  .company .wrap_content .additionally__wrap__image {
    width: 348px;
  }
}

@media screen and (max-width: 767px) {
  .company .wrap_content .additionally__wrap__image {
    width: 100%;
    height: auto;
  }
}

.company .wrap_content .additionally__wrap__image img {
  width: 100%;
}
.additionally__ul {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: 50px;
  scroll-behavior: smooth;
}
.additionally__ul li {
  display: inline-block;
  margin-right: 40px;
}
.additionally__ul {
  display: -webkit-box;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: 50px;
  scroll-behavior: smooth;
}

.additionally__ul li {
  display: inline-block;
  margin-right: 40px;
}

.additionally__ul li a {
  display: inline-block;
  width: 272px;
  max-width: 272px;
  text-decoration: none;
}

.additionally__ul li a .wrap_img {
  width: 272px;
  height: 254px;
  max-width: 272px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
}

.additionally__ul li a .wrap_img img {
  max-width: 100%;
}

.additionally__ul li a .additionally_descr {
  text-decoration: none;
  font-size: 16px;
  color: #BCBCBC;
  display: block;
  margin-top: 16px;
}

.additionally__ul li a .additionally_price {
  text-decoration: none;
  font-size: 16px;
  color: #BCBCBC;
  display: block;
  margin-top: 8px;
}

.additionally__ul li {
  margin-right: 20px;
}

.additionally__ul li a {
  width: 163px;
  max-width: 163px;
}

.additionally__ul li a .wrap_img {
  width: 272px;
  max-width: 272px;
  height: 272px;
}
@media screen and (max-width: 1279px) {
  .additionally__ul {
    display: -webkit-box;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 50px;
    scroll-behavior: smooth;
  }

  .additionally__ul li {
    display: inline-block;
    margin-right: 40px;
  }

  .additionally__ul li a {
    display: inline-block;
    width: 272px;
    max-width: 272px;
    text-decoration: none;
  }

  .additionally__ul li a .wrap_img {
    width: 272px;
    height: 254px;
    max-width: 272px;
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
  }

  .additionally__ul li a .wrap_img img {
    max-width: 100%;
  }

  .additionally__ul li a .additionally_descr {
    text-decoration: none;
    font-size: 16px;
    color: #BCBCBC;
    display: block;
    margin-top: 16px;
  }

  .additionally__ul li a .additionally_price {
    text-decoration: none;
    font-size: 16px;
    color: #BCBCBC;
    display: block;
    margin-top: 8px;
  }

  .additionally__ul li {
    margin-right: 20px;
  }

  .additionally__ul li a {
    width: 163px;
    max-width: 163px;
  }

  .additionally__ul li a .wrap_img {
    width: 272px;
    max-width: 272px;
    height: 272px;
  }
}

.additionally__ul li a {
  display: inline-block;
  width: 272px;
  max-width: 272px;
  text-decoration: none;

  .sm-block({
    width: 115px;
  });
}

.additionally__ul li a .wrap_img {

  .sm-block({
    width: 115px;
    height: 104px;
  });
}
