.catalog-content {
  margin-top: 135px;

  .md-block({ margin-top: 56px; });

  .filter {
    background: #1A1A1A;
    height: 167px;

    .lg-block({ height: 270px; });

    .md-block({ margin-bottom: 17px; });

    .md-block({ margin-bottom: 17px; });
    .big_btn_filter:hover {
      background: @bg_hover_filter;
      text-decoration: none;
    }
    .property_text {
      color: #000;
      text-align: left;
      margin-left: 15px;
    }
    .active_filter.active_btn_red {
      background: @active_btn_red;
      .property_text {
        color: @text_button_filter_red;
        .MBold;
      }
    }
    .active_filter.active_btn_yellow {
      background: @active_btn_yellow;
      .property_text {
        color: @text_button_filter_yellow;
        .MBold;
      }
    }
    .active_filter.active_btn_white {
      background: @active_btn_white;
      .property_text {
        color: @text_button_filter_white;
        .MBold;
      }
    }
  }
  .product {
    height: 339px;
    padding-top: 36px;
    padding-bottom: 54px;

    .lg-block({ padding-top: 34px; });

    .md-block({ height: 342px; padding-top: 25px; });

    .sm-block({ height: auto; max-height: 420px; padding-top: 23px; });

    .wrapper {
      position: relative;

      .md-block({ padding: 0 24px; });

      .sm-block({ display: flex; flex-direction: column; padding: 0 16px; });

      .product_image {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        width: 272px;
        height: 245px;
        margin-right: 25px;
        margin-top: 4px;
        float: left;

        .lg-block({ width: 214px; height: 193px; margin-top: 11px; margin-right: 24px; });

        .md-block({ width: 162px; height: 146px; margin-bottom: 11px; });

        .sm-block({ width: 288px; height: 260px; margin-right: auto; });

        img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .wrap-name-price-buy {
        position: relative;
        height: 82px;

        .lg-block({ display: flex; align-items: center; height: 41px; });

        .md-block({ height: 41px; });

        .sm-block({ width: 288px; height: 57px; margin-top: 5px; align-items: stretch; });

        .name-price {
          display: flex;
          justify-content: space-between;
          flex: auto;

          .lg-block({ });

          .sm-block({ flex-direction: column; });

          .wrap-name {
            display: flex;
            flex-direction: column;

            .name {
              .MBold;
              font-size: 24px;
              line-height: 28px;

              .md-block({ font-size: 20px; line-height: 24px; });

              .sm-block({ font-size: 18px; line-height: 20px; });
            }

            .category {
              font-size: 13px;
              line-height: 20px;
              color: #BCBCBC;
              margin-top: 7px;
              .lg(display, none);
            }
          }

          .price {
            .MBold;
            font-size: 24px;
            line-height: 28px;
            color: #F2F1F1;
            margin-right: 4px;

            .md-block({ font-size: 20px; line-height: 24px; margin-right: 0; });
            .sm-block({ margin-top: 10px; });
            div {
              white-space: nowrap;
            }
          }
        }

        .buy {
          background: #4550B9;
          border-radius: 5px;
          font-size: 13px;
          line-height: 20px;
          display: block;
          width: 80px;
          padding: 10px 0;
          align-items: center;
          text-align: center;
          text-decoration: none;
          position: absolute;
          bottom: 0px;
          right: 0;

          &:hover {
            background: #36409B;
          }

          .lg-block({ margin-left: 17px; position: relative; bottom: 0; });

          .sm-block({ padding: 18px 0; min-width: 100px; });
        }
      }

      .description {
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .lg-block({ margin-top: 17px; height: 80px; });

        .md-block({ margin-top: 8px; height: 100px; });

        .sm(display, none);

        &__text {
          font-size: 16px;
          line-height: 20px;
          display: block;
          margin-right: 100px;
          max-height: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* количество строк */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          .lg-block({ margin-right: 0; });
        }
      }
      .file {
        width: 32px;
        height: 32px;
        background: url(../img/file-text/onblack.svg) center center/cover no-repeat no-repeat;
        display: block;
        position: absolute;
        bottom: 85px;
        right: 0;

        .lg(display, none);
      }
      hr {
        margin: 20px 100px 24px 0;
        background-color: #7A7A7A;
        color: #7A7A7A;
        height: 1px;
        border: none;

        .lg-block({ margin: 15px 0; });

        .md-block({ margin: 18px 0 25px; });

        .sm(display, none);
      }

      .characteristics {
        margin-right: 100px;
        display: flex;

        .lg-block({ margin-right: 0px; });

        .sm-block({ display: none; });

        .column {
          flex: 1;

          .title {
            font-size: 13px;
            line-height: 20px;
          }

          .text {
            font-size: 13px;
            line-height: 20px;
            color: #BCBCBC;
          }
        }

        .col1 {

          .lg-block({ flex: 8; });

          .md-block({ flex: 1; });
        }

        .col2 {
          margin-left: 17px;

          .lg-block({ margin-left: 25px; flex: 10; });

          .md-block({ flex: 1; });
        }
      }
    }
  }
  .product:nth-child(odd) {
    background: #323232;
  }
}