.form_checkout {
  display: flex;
  justify-content: space-between;

  .sm-block({ display: block; });

  .wrap_accordion {
    margin-top: 55px;
    position: relative;

    .md-block({ margin-left: 42px; margin-top: 61px; });
    .sm-block({ margin-left: 0; margin-top: 25px; });

    .line_vertical {
      display: inline-block;
      height: calc(100% - 35px);
      width: 1px;
      background: #BCBCBC;
      position: absolute;
      top: 0;
      left: -32px;
      opacity: 0.5;
      transition: all 0s;

      .sm-block({ display: none; });
    }
  }
}

.head_checkout {
  height: 226px;
  background: #1a1a1a;

  .md-block({ height: 126px; });
  .sm-block({ height: 49px; });

  .h100 {
    height: 100%;

    .sm-block({ display: flex; });

    .link_go_basket {
      text-decoration: none;
      color: #fff;
      margin-top: 145px;
      display: inline-block;

      .md-block({ margin-top: 61px; });
      .sm-block({ margin-top: 10px; });

      &__icon {
        display: inline-block;
        height: 14px;
        width: 20px;
        background: url(../img/arrow/onblack.svg) center center/cover no-repeat no-repeat;
        transform: rotate(180deg);
      }

      &__text {
        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        color: @grey_text_bold;
        .sm-block({ display: none; });
      }
    }

    .header_checkout {
      font-size: 20px;
      color: #fff;
      .MBold;
      margin-top: 11px;
      padding-left: 0;
      .lg-block({ font-size: 18px; });
      .md-block({ margin-top: 7px; });
      .sm-block({ font-size: 14px; margin-top: 10px; });
    }
  }
}

.h100 {
  height: 100%;
  width: 100%;

  .sm-block({ display: flex; align-items: center; margin: 0; padding: 0; });
}

.link_go_basket__text {
  .sm-block({ display: none; })
}

.link_go_basket__icon {
  display: inline-block;
  height: 14px;
  width: 20px;
  background: url(../img/arrow/onblack.svg) center center/cover no-repeat no-repeat;
  transform: rotate(180deg);
}

/* Чекбоксы */
.wrapper_delivery_terms {
  .sm(margin-top, 24px);
  .sm-block({ margin-bottom: 60px; });
}

.wrap_delivery_terms {
  display: flex;
  flex-wrap: wrap;

  .sm-block({ display: block; });

  .head_delivery_terms {
    font-size: 14px;
    margin-bottom: 25px;
    width: 100%;
    color: @grey_text;
    .MSemiBold;

    .md-block() {
      font-size: 12px;
    }
  }

  .wrap_checkbox_terms {
    margin-right: 52px;

    .md-block() {
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
      display: flex;

      .md-block({ margin-bottom: 20px; });

      input[type="checkbox"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_terms {
          background: url(../img/check-done/onblack.svg) center center / cover no-repeat no-repeat;
        }
      }

      input[type="radio"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_terms {

          background: url(../img/check-done/onblack.svg) center center/cover no-repeat no-repeat;
          display: inline-block;
          width: 22px;
          height: 20px;
          border-radius: 0;
          border: none;
          transition: none;
        }

        &:checked ~ span.checkbox-text {
          font-size: 14px;
          color: #fff;
        }
      }

      .custom-checkbox_radio_terms {
        display: inline-block;
        border: 2px solid @grey_text;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        transition: none;
        margin-right: 18px;
      }

      span.checkbox-text {
        font-size: 14px;
        color: @grey_text;
      }
    }
  }
}

.wrap_points_issue {
  margin-top: 32px;

  .head_points_issue {
    font-size: 14px;
    margin-bottom: 21px;
    width: 100%;
    .MSemiBold;

    .md-block() {
      font-size: 12px;

    }
  }

  .wrap_checkbox_issue {
    margin-bottom: 20px;

    label {
      font-size: 16px;
      display: flex;
      align-items: baseline;

      input[type="checkbox"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_issue {
          background: url(../img/check-done/onblack.svg) center center / cover no-repeat no-repeat;
        }
      }

      input[type="radio"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_issue {

          background: url(../img/check-done/onblack.svg) center center/cover no-repeat no-repeat;
          display: inline-block;
          width: 22px;
          height: 20px;
          border-radius: 0;
          border: none;
          transition: none;
        }
      }

      .custom-checkbox_radio_issue {
        display: inline-block;
        border: 2px solid @grey_text;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        transition: none;
        margin-right: 18px;
      }

      span.checkbox-text {
        font-size: 14px;
      }
    }
  }
}

.wrap_points_pickup {

  .head_points_pickup {
    font-size: 14px;
    margin-bottom: 21px;
    width: 100%;

    .md-block() {
      font-size: 12px;

    }
  }

  .wrap_checkbox_pickup {
    margin-bottom: 20px;

    .df_ac {
      display: flex;
      align-items: flex-start;
    }

    label {
      font-size: 16px;
      display: flex;
      align-items: baseline;

      input[type="checkbox"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_pickup {
          background: url(../img/check-done/onblack.svg) center center / cover no-repeat no-repeat;
        }
      }

      input[type="radio"] {
        display: none;

        &:checked ~ .custom-checkbox_radio_pickup {

          background: url(../img/check-done/onblack.svg) center center/cover no-repeat no-repeat;
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 0;
          border: none;
          transition: none;
        }
      }

      .custom-checkbox_radio_pickup {
        display: inline-block;
        border: 2px solid @grey_text;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        transition: none;
        margin-right: 18px;
      }

      .checkbox-text {

        .first_str {
          display: block;
        }

        .first_str,
        .second_str {
          font-size: 14px;
          color: #fff;

          .grey_text {
            color: @grey_text;
          }
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}

.wrapper_pickup {
  .sm-block({ margin-top: 24px; });
}

.block__h2 {
  .MBold;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.wrap_accordion {

  .cube {
    display: inline-block;
    height: 17px;
    width: 17px;
    position: absolute;
    top: 0;
    left: -40px;
    background: #3F3F3F;

    .sm-block({ display: none; });
  }
}

body > section > form > div.wrap_accordion > h2:nth-child(2) > span {
  background: #C4C4C4;
}

.input-field {
  display: block;
  position: relative;

  input {
    background: #191919;
    padding: 30px 20px 7px 20px;

    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
  }

  label {
    position: absolute;
    display: inline-block;
    top: 19px;
    left: 18px;
    color: #7a7a7a;
    z-index: 11;
    font-size: 16px;
  }
}

#user__fio,
#user__email,
#user__phone {
  width: 368px;
  margin-bottom: 16px;

  .lg-block({ width: 293px; });
  .sm-block({ width: 100%; });
}

#first_block__btn,
#second_block__btn {
  margin-bottom: 35px;
  height: 48px;
  width: 165px;
  min-width: 165px;
  line-height: 48px;
  text-align: center;
  background: @violet;
  border: none !important;
  outline: none !important;
  border-radius: 6px !important;
  margin-right: 15px;
  margin-top: 25px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background: #333ea7;
  }

  .sm-block({ display: none; });
}

/* Второй блок */
// Кнопки выбора доставки
.delivery_btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid @grey_text;
  background: transparent;
  font-size: 16px;
  line-height: 44px;
  height: 48px;
  padding: 0 20px;
  text-align: center;
  outline: none !important;
  border-radius: 6px !important;
  margin-bottom: 35px;
  margin-right: 15px;
  margin-top: 19px;
  color: @grey_text;

  .sm-block({ font-size: 14px; display: block; margin-right: 0; margin-bottom: 8px; margin-top: 8px; });
}

#active_delivery_btn,
#active_pay_btn {
  border: 2px solid #4550B9;
  color: #fff;
}

/* Select */
.wrap_select_checkout_page {

  label {
    display: block;
    .sm-block({ font-size: 14px; });
  }

  #city_list,
  #city_list_pickup {
    background: @inp_bg;
    border: none;
    outline: none;
    padding: 16px 0 16px 16px;
    margin-bottom: 26px;
    width: calc(100% + 35px);
    max-width: 288px;
    margin-top: 16px;
    appearance: none;

    .sm-block({ font-size: 16px; });

    &:active, &:focus {
      background: @inp_bg;
      color: #fff;
      border: none;
      outline: none;
    }

    option {
      background: @inp_bg;
      color: #fff;
      border: none;
      outline: none;
      height: 50px;
      min-height: 50px;

      &:active, &:focus {
        background: @inp_bg;
        color: #fff;
        border: none;
        outline: none;
        height: 50px;
        min-height: 50px;
      }
    }
  }

  .down::after {
    position: absolute;
    top: -2px;
    right: 16px;
    content: '';
    display: inline-block;
    background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat;
    width: 16px;
    height: 24px;
  }

  .down {
    position: relative;

    &:hover {
      display: none;
    }
  }
}

.first_block {
  overflow: hidden;
  z-index: 10;

  .sm-block({ height: auto; margin: 0 auto 37px; overflow: visible; position: relative; });

  &::after {
    content: '';
    display: none;
    width: 120%;
    height: 11px;
    background: #000;
    position: absolute;
    bottom: -18px;
    left: -32px;
    z-index: 10;

    .sm-block({ display: inline-block; });
  }
}

.second_block {
  overflow: hidden;
  height: 0;

  .sm-block({ height: auto; margin: 0 auto 60px; overflow: visible; position: relative; });

  &::after {
    content: '';
    display: none;
    width: 120%;
    height: 11px;
    background: #000;
    position: absolute;
    bottom: -40px;
    left: -32px;
    z-index: 10;

    .sm-block({ display: inline-block; });
  }
}

.third_block {
  overflow: hidden;
  height: 0;

  .sm-block({ height: auto; margin: 28px auto 44px; overflow: visible; position: relative; });
}

.wrap_payment_methods {

  .payment_btn {
    display: inline-block;
    text-decoration: none;
    border: 2px solid @grey_text;
    background: transparent;
    font-size: 16px;
    line-height: 44px;
    height: 48px;
    padding: 0 20px;
    text-align: center;
    outline: none !important;
    border-radius: 6px !important;
    margin-bottom: 35px;
    margin-right: 15px;
    margin-top: 19px;
    color: @grey_text;

    .md-block({ font-size: 14px; margin-top: 0; padding: 0 12px; height: 40px; line-height: 35px; });
    .sm-block({ display: block; margin-right: 0; margin-bottom: 8px; height: 48px; line-height: 45px; });
  }
}

/*** Блок оформления ***/
.checkout_wrap_page {
  width: 391px;
  height: 383px;
  background: #323232;
  border-radius: 10px;
  padding: 27px 24px 36px 24px;
  //margin-right: -22px;
  margin-top: -80px;
  position: relative;
  z-index: 10;

  .lg-block({ width: 321px; height: 375px; });
  .md-block({ margin-top: -54px; min-width: 321px; min-height: 375px; });
  .sm-block({ height: 330px; min-height: 330px; padding: 27px 16px 36px 16px; margin-top: 16px; width: 100%; box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); });

  .head_checkout_page {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;
      .MBold;

      .lg-block({ font-size: 20px; .M; });
    }

    .edit {
      text-decoration: none;
      display: flex;
      align-items: center;

      &__icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/pencil/pencil.svg) center center / cover no-repeat no-repeat;
        margin-right: 10px;

        .lg-block({ width: 13px; height: 13px; margin-right: 5px; margin-top: 4px; });
      }

      &__text {
        color: @grey_text;

        .lg-block({ font-size: 12px; margin-top: 4px; });
      }
    }
  }
}

.payment_list_page {
  margin-top: 40px;
  margin-bottom: 27px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9e9e9e;

  .sm-block({ border-bottom: none; margin-bottom: 0; });

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .dotted {
      flex-grow: 1;
      height: 2px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 13px;
      border-bottom: 1px dotted #6b6b6b;
    }

    div {
      .lg-block({ font-size: 14px; })
    }
  }
}

.total_checkout_page {
  display: flex;
  justify-content: space-between;

  h5.total_h5 {
    font-size: 20px;
    color: #fff;
    .MBold;

    .lg-block({ .M; });
    .sm-block({ .MBold; });
  }

  .total_price {
    font-size: 20px;
    color: #fff;

    .lg-block({ .MBold; });
    .sm-block({ .M; });
  }
}

.go_to_registration_page {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: @red;
  margin-top: 35px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;

  .sm-block({ margin-top: 20px; });

  &:hover {
    background: #74001a;
  }
}

.dn {
  display: none;
}

.brbr {
  display: none;

  .md-block({ display: block; });
}

.checkbox-text__pickup {
  margin-top: -3px;
}

/* Адрес доставки */
.form_address {
  margin-top: 40px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 750px;
  display: none;

  .head_form_address {
    font-size: 14px;
    margin-bottom: 21px;
    width: 100%;
    .MSemiBold;

    .md-block() {
      font-size: 12px;
    }
  }

  .inhabited_locality, .street, .comment {
    width: 100%;
    max-width: 750px;
    margin-bottom: 16px;

    #inhabited_locality, #street, #comment {
      width: 100%;
    }
  }

  .comment {
    margin-top: -16px;
  }

  .wrapper_apartment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .md-block({ flex-wrap: wrap; });

    .porch, .apartment {
      width: 100%;
      max-width: 368px;
      margin-bottom: 16px;
    }

    .porch {
      margin-right: 20px;

      .md-block({ margin-right: 0; margin-bottom: 0; });

    }

    #porch, #apartment {
      width: 100%;
      max-width: 368px;
      margin-bottom: 16px;
    }
  }
}