.company{
	background: url(../img/lion_company.png) right -140px no-repeat #1C1C1C;
    margin: 135px auto -109px;

    .md-block({
    	margin: -8px auto 0px;
    	background-image: none;
    });
	h1{
		.MBold;
		font-size: 40px;
		line-height: 40px;		
		text-align: center;
		margin: 64px 0 58px;
		padding-top: 64px;
		.md-block({
			font-size: 28px;
			line-height: 32px;
		});
		.sm-block({
			margin: 50px 0 16px;
		});
	}
  	.foreword{
  		margin: 56px auto 72px;
  		padding: 0 70px;
		max-width: 1280px;
  		font-size: 16px;
		line-height: 20px;
		text-align: center;
		.lg-block({
			padding: 0 48px;
		});
		.sm-block({
			font-size: 14px;
			line-height: 18px;
			padding: 0 16px;
			margin: 16px auto 52px;
		});
  	}
  	.pcffs{
  		.MBold;
  		color: #7D8AFF;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		margin: 24px auto 72px;
		display: block;
		text-decoration: none;
		.md-block({
			font-size: 18px;
			line-height: 24px;
		});
		.sm-block({
			.M;
			text-decoration-line: underline;
			font-size: 16px;
			line-height: 20px;
			margin: 16px auto 52px;
		});
  	}
  	.big_block{
		padding: 372px 40px 24px;
		.lg-block({
			padding: 372px 24px 24px;
		});
		.sm-block({
			padding: 158px 0 24px;
		});
		.text_in_big_block{
			margin: 0 auto;
			max-width: 1200px;
			background: #1C1C1C;
			box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 10px;			
  			height: 1295px;
  			padding: 0 126px;
  			.lg-block({
  				padding: 0 24px;
  			});
  			.sm-block({
  				padding: 0 16px;
  				height: auto;
  			});
			.small_title{
				.MBold;
				color: #7D8AFF;
				font-size: 20px;
				line-height: 24px;
				text-align: center;
				margin: 0 auto 24px;
				display: block;
				padding-top: 62px;
				.md-block({
					font-size: 18px;
					line-height: 24px;
				});
				.sm-block({
					padding-top: 16px;
					margin: 0 auto 8px;
					font-size: 16px;
					line-height: 20px;
				});
			}
			.big_title{
				.MBold;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.95);
				font-size: 40px;
				line-height: 40px;
				text-align: center;
				margin: 24px 0 56px;
				.md-block({
					font-size: 28px;
					line-height: 32px;
					margin: 8px 0 40px;
				});
				.sm-block({
					font-size: 20px;
					line-height: 24px;
					margin: 8px 0 16px;
				});
			}
			.top_text{
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				margin: 56px 0 80px;
				.sm-block({
					font-size: 14px;
					line-height: 18px;
					margin: 16px 0 48px;
				});
			}
			.wrap{
				display: flex;
				.sm-block({
					flex-direction: column;
				});
				.left_block{
					width: 464px;
					flex-shrink: 0;
					.md-block({
						width: 322px;
					});
					.sm-block({
						width: 100%;
						margin-bottom: 64px;
					});
					&__img{
						border-radius: 15px;
						width: 100%;
						height: auto;
						margin-bottom: 40px;
					}
					&__text{
						font-size: 16px;
						line-height: 20px;
						.sm-block({
							padding: 0 16px;
						});
					}
				}
				.right_block{
					padding-left: 112px;
					.lg-block({
						padding-left: 81px;
					});
					.md-block({
						padding-left: 32px;
					});
					.sm-block({
						padding-left: 0;
					});
					&__header{
						.MBold;
						font-size: 24px;
						line-height: 28px;
						margin-bottom: 60px;
						.md-block({
							font-size: 20px;
							line-height: 24px;
							margin-left: -32px;
						});
						.sm-block({
							margin-left: 0;
						});
					}
					&__item{
						z-index: 1;
						position: relative;
						margin-bottom: 66px;
						.sm-block({
							margin-bottom: 40px;
						});
						&__indicator{
							display: flex;
							align-items: center;
							margin-bottom: 36px;
							&__icon{
								width: 56px;
								height: 56px;
								display: block;
								margin-right: 16px;
							}
							&__icon.arrow{
								background: url('../img/indicator/arrow.svg');
							}
							&__icon.refresh{
								background: url('../img/indicator/refresh.svg');
							}
							&__icon.paw{
								background: url('../img/indicator/paw.svg');
							}
							&__icon.flower{
								background: url('../img/indicator/flower.svg');
							}
							&__icon.cricket{
								background: url('../img/indicator/cricket.svg');
							}
							&__text{
								font-weight: 300;
								font-size: 40px;
								line-height: 32px;
							}
						}
						&__text{
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}

		}
  	}
  	.big_block:nth-child(odd){
  		background: url(../img/company_back_1.png) center top / contain no-repeat;
  		// , /* верх */left / 50% 913px no-repeat linear-gradient(to bottom, #E3CDC8 7%, rgba(136, 144, 157, 0) 50%), /* лево */ right / 50% 883px no-repeat linear-gradient(to bottom, #C7A795 7%, rgba(136, 144, 157, 0) 50%); /* право */
		.lg-block({
			background: url(../img/company_back_1.png) center top / auto 700px no-repeat;
		});
		.md-block({
			background: url(../img/company_back_1.png) left -100px top / auto 700px no-repeat;
		});
		.sm-block({
			background: url(../img/company_back_1.png) left top / contain no-repeat;
		});
		.xxs-block({
			background: url(../img/company_back_1.png) left -50px top / auto 300px no-repeat;
		});
		.text_in_big_block{
			.big_title{
				text-transform: uppercase;
			}
  		}
  	}
  	.big_block:nth-child(even){
		background: url(../img/company_back_2.png) center top / contain no-repeat;
		// , /* верх */ left / 50% 913px no-repeat linear-gradient(to bottom, #282426 20%, rgba(136, 144, 157, 0) 50%), /* лево */ right / 50% 861px no-repeat linear-gradient(to bottom, #E9E8E9 20%, rgba(136, 144, 157, 0) 50%);
  		.lg-block({
			background: url(../img/company_back_2.png) left top / auto 800px no-repeat;
		});
		.md-block({
			background: url(../img/company_back_2.png) left -100px top / auto 800px no-repeat;
		});
		.sm-block({
			background: url(../img/company_back_2.png) left top / contain no-repeat;
		});
		.xxs-block({
			background: url(../img/company_back_2.png) left -50px top / auto 340px no-repeat;
		});
  		.text_in_big_block{
  			padding: 0 32px;
  			.sm-block({
  				padding: 0 16px;
  			});
  			.small_title{
				color: #FD733D;
  			}
  			.big_title{
  				.sm-block({
  					font-size: 18px;
					line-height: 24px;
  				});
  			}
  			.top_text{
				margin: 56px 96px 80px;
				.lg-block({
					margin: 32px 0 104px;
				});
  			}
  			.wrap{
  				.left_block{
  					margin-left: 96px;
  					.lg-block({
  						width: 418px;
  						margin-left: 32px;
  						margin-top: 52px;
  					});
  					.md-block({
  						width: 231px;
  						margin-left: 0;
  						margin-top: 52px;
  					});
  					.sm-block({
  						width: 100%;
  						margin-top: 0;
  					});
  				}
  				.right_block{
  					width: auto;
  					position: relative;
  					padding: 0 94px 0 62px;
  					margin-left: 50px;
  					.lg-block({
						padding: 0 22px 0 62px;
						margin-left: 26px;
					});
					.md-block({
						padding: 0 32px;
						margin-left: 24px;
					});
  					.sm-block({
  						padding: 0 16px;
  						margin-left: 0;
  					});
					&::before{
						content: '';
						display: block;
						position: absolute;
						background: #323232;
						border: 3px solid #595959;
						border-radius: 15px;
						width: 100%;
						height: 95%;
						top: 52px;
						left: 0;
						z-index: 0;			    		
						.sm-block({
							left:0;
						});
					}					
	  			}
  			}	  			
  		}
  	}
  	.tagline{
		text-transform: uppercase;
		text-align: center;
		.MBold;
		font-size: 40px;
		line-height: 40px;
		padding: 75px 0 143px;
		.md-block({
			padding: 60px 0 73px;
		});
		.sm-block({
			padding: 48px 0 232px;
			font-size: 28px;
			line-height: 32px;
		});
  	}
}