/*
.company{

  margin-top: 128px;

  .md-block({
    margin-top: 57px;
  });

  .breadcrumbs{
    .md-block({
      margin: 0;
      padding: 7px 0 0 24px;
    });
    .sm-block({ padding: 7px 0 0 16px;});

  }

  .wrap_content{
    max-width: 752px;
    margin: 0 auto;
    padding: 0;
    .lg-block({  });
    .md-block({ max-width: 720px;});
    .sm-block({ margin: 0 15px;});

    .logo{
      margin: 0 auto;
      display: block;
      padding: 40px 0;
      .lg-block({ });
      .md-block({ });
      .sm-block({ padding: 23px 0px 32px;});
    }

    .top_text{
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      margin-bottom: 30px;
      .lg-block({  });
      .md-block({ text-align: center; margin-bottom: 45px;});
      .sm-block({ text-align: left; margin-bottom: 24px;});
    }

    .top_image{
      border-radius: 10px;
      margin-bottom: 38px;
      .md-block({
        width: 534px;
        height: 211px;
        margin: 0 auto;
        display: block;
      });
      .sm-block({
        width: 100%;
        height: auto;
      });
    }

    .company_additionally{
      display: flex;
      justify-content: space-between;
      .md-block({
        margin-top: 19px;
      });
      .sm-block({
        flex-direction: column;
        margin-top: 0px;
      });
      &__wrap{
        display: flex;
        flex-direction: column;
        width: min-content;
        .sm-block({
          flex-direction: column-reverse;
          margin-top: 24px;
          width: 100%;
        });
        &:nth-child(even){
          .company_additionally__wrap__text{
            justify-content: flex-end;
            .sm-block({
              justify-content: unset;

            });
            p{
              text-align: right;
              .sm-block({
                text-align: left;
              });
            }
          }
        }
        &__text{
          display: flex;
          align-items: center;
          height: 147px;
          flex-shrink: 0;
          .sm-block({
            background: @dark_back;
            border-radius: 0  0 16px 16px;
            padding: 26px 12px 20px;
            margin-top: -16px;
            height: auto;
          });
          p{
            color: @grey_text_bold;
            font-size: 14px;
            line-height: 18px;
            width: 94%;
            .sm-block({
              width: 100%;
            });
          }
        }
        &__image{
          border-radius: 16px;
          width: 340px;
          height: 202px;
          flex-shrink: 0;
          .md-block({
            width: 348px;
          });
          .sm-block({
            width: 100%;
            height: auto;
          });
          img{
            width: 100%;
          }
        }
      }
    }

    hr{
      width: 520px;
      margin: 48px auto 49px;
      background: @hr;
      border: none;
      height: 1px;
      .md-block({
        margin: 55px auto 49px;
      });
      .sm-block({
        width: 75%;
        margin: 30px auto 37px;
        height: 2px;
      });
    }

    .map{
      margin-bottom: 146px;
      .md-block({
        margin-bottom: 62px;
      });
      .sm-block({
        margin-bottom: 70px;
      });
      &__text{
        text-align: center;
        margin-bottom: 46px;
        font-size: 20px;
        line-height: 24px;
        .sm-block({
          font-size: 16px;
          line-height: 20px;
        });
      }
      &__image{
        margin: 0 auto;
        display: block;
        .sm-block({
          display: none;
        });
      }
    }


    .dop_wrap_last_block {
      margin-bottom: 151px;
      .wrap_text {


        &__h2 {
          .MBold;
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          margin-bottom: 66px;

          .md-block({
            margin-bottom: 50px;
          });

          .sm-block({
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            margin-bottom: 48px;
          });
        }

        &__h3 {
          .MBold;
          font-size: 20px;
          line-height: 24px;
          color: #fff;
          position: relative;

          &::before {
            content: '';
            width: 43px;
            height: 10px;
            background: @red;
            position: absolute;
            top: -15px;
            left: 0;
          }
        }

        &__p {
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          margin: 40px 0 76px;
          .sm-block({
            font-size: 14px;
            line-height: 18px;
            margin: 16px 0 52px;
            padding-right: 3px;
          });
        }

        .note{
          width: 100%;
          height: 513px;
          position: relative;
          z-index: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 151px 0 126px;

          .md-block({
            margin: -9px 0 49px;
            height: 387px;
            padding-right: 44px;
          });

          .sm-block({
            display: flex;
            flex-direction: column;
            height: auto;
            padding-right: 0;
            margin: 49px 0 87px;
          });

          &::before{
            content: '';
            display: block;
            width: 784px;
            height: 513px;
            background: @note_bg url(../img/Softfit_logo.png) -10% 5% no-repeat;
            position: absolute;
            left: -16px;
            z-index: -1;
            border-radius: 5px;
            background-size: 57%;
            .md-block({
              width: 633px;
              height: 387px;
              left: auto;
              right: -6px;
              background-size: 46%;
              background-position: -2% 25%;
            });
            .sm-block({
              display: none;
            });
          }
          &__image{
            position: absolute;
            left: -80px;
            z-index: 0;
            width: 472px;
            height: auto;
            .md-block({
              width: 312px;
              left: 0px;
            });
            .sm-block({
              width: 100%;
              left: 0px;
              flex-shrink: 0;
              padding: 62px 0 24px;
              position: relative;
            });

            img{
              width: 100%;
              height: auto;
            }
            &::before{
              .sm-block({
                content: '';
                display: block;
                background: @note_bg url(../img/Softfit_logo.png) -10% 18% no-repeat;
                position: absolute;
                left: auto;
                right: 0;
                z-index: -1;
                border-radius: 5px;
                width: 68%;
                height: 100%;
                top: 0;
                background-size: 94%;
              });
            }
          }
          &__text{
            font-size: 14px;
            line-height: 24px;
            width: 326px;
            margin: -8px -4px 0 0;
            .md-block({
              width: 313px;
              margin: 6px -4px 0 0;
            });
            .sm-block({
              width: 100%;
              font-size: 14px;
              line-height: 18px;
              text-align: right;
              margin-top: 17px;
              padding-left: 9px;
              padding-right: 3px;
            });
          }
        }
      }
    }
  }

}

  

*/
.company{

  margin-top: 128px;

  .md-block({
    margin-top: 57px;
  });

  .breadcrumbs{
    .md-block({
      margin: 0;
      padding: 7px 0 0 24px;
    });
    .sm-block({ padding: 7px 0 0 16px;});

  }

  .wrap_content{
    max-width: 752px;
    margin: 0 auto;
    padding: 0;
    .lg-block({  });
    .md-block({ max-width: 720px;});
    .sm-block({ margin: 0 15px;});

    .logo{
      margin: 0 auto;
      display: block;
      padding: 40px 0;
      .lg-block({ });
      .md-block({ });
      .sm-block({ padding: 23px 0px 32px;});
    }

    .top_text{
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      margin-bottom: 30px;
      .lg-block({  });
      .md-block({ text-align: center; margin-bottom: 45px;});
      .sm-block({ text-align: left; margin-bottom: 24px;});
    }

    .top_image{
      border-radius: 10px;
      margin-bottom: 38px;
      .md-block({
        width: 534px;
        height: 211px;
        margin: 0 auto;
        display: block;
      });
      .sm-block({
        width: 100%;
        height: auto;
      });
    }

    .company_additionally{
      display: flex;
      justify-content: space-between;
      .md-block({
        margin-top: 19px;
      });
      .sm-block({
        flex-direction: column;
        margin-top: 0px;
      });
      &__wrap{
        display: flex;
        flex-direction: column;
        width: min-content;
        .sm-block({
          flex-direction: column-reverse;
          margin-top: 24px;
          width: 100%;
        });
        &:nth-child(even){
          .company_additionally__wrap__text{
            justify-content: flex-end;
            .sm-block({
              justify-content: unset;

            });
            p{
              text-align: right;
              .sm-block({
                text-align: left;
              });
            }
          }
        }
        &__text{
          display: flex;
          align-items: center;
          height: 147px;
          flex-shrink: 0;
          .sm-block({
            background: @dark_back;
            border-radius: 0  0 16px 16px;
            padding: 26px 12px 20px;
            margin-top: -16px;
            height: auto;
          });
          p{
            color: @grey_text_bold;
            font-size: 14px;
            line-height: 18px;
            width: 94%;
            .sm-block({
              width: 100%;
            });
          }
        }
        &__image{
          border-radius: 16px;
          width: 340px;
          height: 202px;
          flex-shrink: 0;
          .md-block({
            width: 348px;
          });
          .sm-block({
            width: 100%;
            height: auto;
          });
          img{
            width: 100%;
          }
        }
      }
    }

    hr{
      width: 520px;
      margin: 48px auto 49px;
      background: @hr;
      border: none;
      height: 1px;
      .md-block({
        margin: 55px auto 49px;
      });
      .sm-block({
        width: 75%;
        margin: 30px auto 37px;
        height: 2px;
      });
    }

    .map{
      margin-bottom: 146px;
      .md-block({
        margin-bottom: 62px;
      });
      .sm-block({
        margin-bottom: 70px;
      });
      &__text{
        text-align: center;
        margin-bottom: 46px;
        font-size: 20px;
        line-height: 24px;
        .sm-block({
          font-size: 16px;
          line-height: 20px;
        });
      }
      &__image{
        margin: 0 auto;
        display: block;
        .sm-block({
          display: none;
        });
      }
    }


    .dop_wrap_last_block {
      margin-bottom: 151px;
      .wrap_text {


        &__h2 {
          .MBold;
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          margin-bottom: 66px;

          .md-block({
            margin-bottom: 50px;
          });

          .sm-block({
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            margin-bottom: 48px;
          });
        }

        &__h3 {
          .MBold;
          font-size: 20px;
          line-height: 24px;
          color: #fff;
          position: relative;

          &::before {
            content: '';
            width: 43px;
            height: 10px;
            background: @red;
            position: absolute;
            top: -15px;
            left: 0;
          }
        }

        &__p {
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          margin: 40px 0 76px;
          .sm-block({
            font-size: 14px;
            line-height: 18px;
            margin: 16px 0 52px;
            padding-right: 3px;
          });
        }

        .note{
          width: 100%;
          height: 513px;
          position: relative;
          z-index: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 151px 0 126px;

          .md-block({
            margin: -9px 0 49px;
            height: 387px;
            padding-right: 44px;
          });

          .sm-block({
            display: flex;
            flex-direction: column;
            height: auto;
            padding-right: 0;
            margin: 49px 0 87px;
          });

          &::before{
            content: '';
            display: block;
            width: 784px;
            height: 513px;
            background: @note_bg url(../img/Softfit_logo.png) -10% 5% no-repeat;
            position: absolute;
            left: -16px;
            z-index: -1;
            border-radius: 5px;
            background-size: 57%;
            .md-block({
              width: 633px;
              height: 387px;
              left: auto;
              right: -6px;
              background-size: 46%;
              background-position: -2% 25%;
            });
            .sm-block({
              display: none;
            });
          }
          &__image{
            position: absolute;
            left: -80px;
            z-index: 0;
            width: 472px;
            height: auto;
            .md-block({
              width: 312px;
              left: 0px;
            });
            .sm-block({
              width: 100%;
              left: 0px;
              flex-shrink: 0;
              padding: 62px 0 24px;
              position: relative;
            });

            img{
              width: 100%;
              height: auto;
            }
            &::before{
              .sm-block({
                content: '';
                display: block;
                background: @note_bg url(../img/Softfit_logo.png) -10% 18% no-repeat;
                position: absolute;
                left: auto;
                right: 0;
                z-index: -1;
                border-radius: 5px;
                width: 68%;
                height: 100%;
                top: 0;
                background-size: 94%;
              });
            }
          }
          &__text{
            font-size: 14px;
            line-height: 24px;
            width: 326px;
            margin: -8px -48px 0 0;
            .md-block({
              width: 313px;
              margin: 6px -4px 0 0;
            });
            .sm-block({
              width: 100%;
              font-size: 14px;
              line-height: 18px;
              text-align: right;
              margin-top: 17px;
              padding-left: 9px;
              padding-right: 3px;
            });
          }
        }
      }
    }
  }
}