.contacts {
  margin-top: 128px;
  position: relative;

  .md-block({ margin-top: 55px; });

  .bg {
    background: url("../img/background_image.png") no-repeat 64% 3%;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 30%;

    .lg(display, none);

    .md-block({ display: block; background: url("../img/background_image.png") no-repeat 116% -25%; background-size: 48%; });

    .sm-block({ background: url("../img/background_image.png") no-repeat 93px 28%; background-size: 100%; });
  }

  .wrapper {
    * {
      z-index: 1;
    }

    .breadcrumbs {
      display: none;
      margin-top: 0;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      padding-top: 10px;
      padding-bottom: 14px;

      .md(display, block);

      li:not(:last-child) {
        a {
          text-decoration: none;
          border-bottom: 1px solid #BCBCBC;
          height: 15px;
          display: inline-block;
        }
      }
    }

    h1 {
      .MBold;
      font-size: 32px;
      line-height: 32px;
      padding: 40px 0;

      .md-block({ font-size: 18px; line-height: 20px; padding: 2px 0 42px; });

      .sm-block({ padding: 2px 0 24px; });
    }

    .wrap-contacts_info-form_request {
      display: flex;
      margin-bottom: 8px;

      .md-block({margin-bottom:32px;});
      .sm-block({ flex-direction: column; margin-bottom: 0px;});

      .contacts_info {
        flex: 2;
        margin-left: 2px;
        .lg-block({ flex: 1; });
        .md-block({ margin-top: 4px; });
        .sm-block({ flex: none; margin-top: 0; margin-left: 0; });
        &__child{
          margin-bottom: 40px;
          .md-block({ margin-bottom: 16px; });
          .sm-block({ margin-bottom: 30px; });
          .head{
            font-size: 20px;
            line-height: 24px;
            color: @grey_text_bold;
            margin-bottom: 19px;
            .md-block({ font-size: 16px; line-height: 20px; });
            .sm-block({ line-height: 24px; });
          }
          .text{
            display: flex;
            margin-bottom: 16px;
            span{
              color: #BCBCBC;
              font-size: 16px;
              line-height: 16px;
            }
            a {
              font-size: 16px;
              line-height: 16px;
              .md-block({ font-size: 14px; line-height: 18px; });
            }
          }
        }
        .email {
          .text {
            span {
              display: inline-block;
              background: url(../img/mail/onblack.svg) center center/cover no-repeat no-repeat;
              height: 24px;
              width: 24px;
              margin-right: 13px;
              opacity: .7;
              margin-top: -4px;
            }
          }
        }
        .phone {
          .text {
            span {
              display: inline-block;
              background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
              height: 24px;
              width: 24px;
              margin-right: 13px;
              opacity: 0.7;
              margin-left: 4px;
              margin-top: -4px;
            }
          }
        }
        .address{
          .text{
            a{
              line-height: 24px;
            }
          }
        }
        .requisites{
          .text{
            span{
              margin-right: 6px;
            }
          }
        }
        .socials{
          .text{
            display: flex;

            .sm-block({
              justify-content: space-between;
            });

            a {
              height: 32px;
              width: 32px;
              margin-right: 8px;
              .md-block({ width: 40px; height: 40px; });
            }
            .vk {
              background: url(../img/social/VK.svg) center center/cover no-repeat no-repeat;
            }
            .ok {
              background: url(../img/social/OK.svg) center center/cover no-repeat no-repeat;
            }
            .instagram {
              background: url(../img/social/Instagram.svg) center center/cover no-repeat no-repeat;
            }
            .facebook {
              background: url(../img/social/facebook.svg) center center/cover no-repeat no-repeat;
            }
          }
        }
      }
    }
    .form_request {
      flex: 3;
      padding-left: 42px;

      .lg-block({ flex: 1; padding-left: 22px; padding-top: 3px; });

      .md-block({ padding-left: 0px; });

      .sm-block({ flex: none; padding-top: 0px; margin-left: -2px; });

      h1 {
        font-size: 20px;
        line-height: 24px;
        .MBold;
        margin-bottom: 22px;
        padding: 0 0 0 2px;

        .md-block({ font-size: 18px; line-height: 20px; margin-bottom: 26px; });

        .sm-block({ margin-bottom: 34px; text-align: center;});
      }

      form {

        .contacts_input {
          margin-bottom: 16px;
          position: relative;

          input {
            width: 368px;
            height: 56px;
            line-height: 56px;
            background: @inp_bg;
            border: none !important;
            outline: none !important;
            border-radius: 0 !important;
            text-indent: 17px;

            .sm-block({ width: 100%; });
          }

          label {
            position: absolute !important;
            top: 16px;
          }
        }

        .send_request {
          background: @violet;
          color: @white;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          width: 171px;
          padding: 14px 0;
          border: none;
          outline: none;
          margin: 24px 0;
          display: block;

          .sm-block({ margin: 24px 0; width: 100%; });
        }
      }
    }
    .form_desc{
      .sm(display,none);
    }
    .form_mob{
      display: none;
      .sm(display,block);
    }
    .wrap-delivery{
      &__child{
        margin-bottom: 46px;
        &__icon{
          width: 24px;
          height: 24px;
          margin-right: 16px;
          display: inline-block;
        }
        .head{
          .MBold;
          font-size: 20px;
          line-height: 24px;
          padding-bottom: 16px;
          color: #BCBCBC;
          .sm-block({
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            text-align: center;
          });
        }
        .text{
          margin-bottom: 30px;
          a{
            font-size: 16px;
            line-height: 20px;
            .sm(color, #BCBCBC);
          }


        }
      }
      .shipping{
        .text{
          .sm(opacity, 0.8);
          a{
            display: block;
            width: 176px;
            height: 42px;
            margin-bottom: 16px;
          }
          .delovielinii{
            background: url(../img/delivery/del_lin.svg) center center/cover no-repeat no-repeat;
          }
          .pek{
            background: url(../img/delivery/pecom.svg) center center/cover no-repeat no-repeat;
          }
        }
      }
      .payment{
        .text{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .bank_card{
            background: url(../img/pay/credit-card.svg) center center/cover no-repeat no-repeat;
          }
          .invoice{
            background: url(../img/pay/file-text.svg) center center/cover no-repeat no-repeat;
          }
          .cards{
            display: flex;
            align-items: center;
            margin-left: 48px;
            .sm-block({
              flex: 100%;
              margin-left: 0;
              margin-top: 30px;
              display: flex;
              justify-content: space-around;
            });
            span+span{
              margin-left: 24px;
              .sm-block({
                margin: 0;
              });
            }
            .mastercard{
              background: url(../img/pay/mastercard.svg) center center/cover no-repeat no-repeat;
              width: 40px;
              height: 24px;
            }
            .mir{
              background: url(../img/pay/mir-logo.svg) center center/cover no-repeat no-repeat;
              width: 56px;
              height: 16px;
            }
            .visa{
              background: url(../img/pay/visa-logo.svg) center center/cover no-repeat no-repeat;
              width: 56px;
              height: 16px;
            }
          }

        }
      }
      .for_buyers{
        .text{
          margin-bottom: 16px;
          a{
            text-decoration: underline;
            position: relative;
          }
        }
      }
      .description{
        .sm(display,none);
        .text{
          font-size: 16px;
          line-height: 20px;
          color: #757575;
        }
      }
    }
    .description_mob{
      display: none;
      .sm(display,block);
      .head{
        .MBold;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 16px;
        color: #BCBCBC;
        .sm-block({
          font-size: 18px;
          line-height: 24px;
          color: #fff;
          text-align: center;
        });
      }
      .text{
        font-size: 16px;
        line-height: 20px;
        color: #757575;
      }
    }
  }
}