.delivery_content{
	margin-top: 134px;
	padding-bottom: 127px;

	.md-block({
		margin-top: 68px;
	});

	h1{
		.MBold;
		font-size: 32px;
		line-height: 32px;
		padding-top: 39px;
		padding-bottom: 56px;
		.lg-block({
			padding-bottom: 24px;
		});
		.md-block({
			padding-top: 14px;
			padding-bottom: 16px;
			font-size: 18px;
			line-height: 24px;
		});

	}
	.description{
		&__child{
			margin-bottom: 40px;
			.head{
				.MBold;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 24px;
				.sm-block({
					font-size: 16px;
					line-height: 18px;
				});
			}
			.text{
				margin-bottom: 16px;
				span{
					font-size: 16px;
					line-height: 16px;
				}
				a{
					font-size: 16px;
					line-height: 16px;
					color: #BCBCBC;
				}
			}
		}
	}
}