.not_found{
    height: 565px;
    p{
        margin: 40px 0 19px;

        .md-block({
            margin: 40px 0 32px;
        });

        .sm-block({
            margin: 53px 0 32px;
        });
    }
}

