.catalog-content {
  .md-block({ margin-top: 55px; });

  .filter {
    .sm-block({ height: 63px; background: transparent; box-shadow: -1px -6px 13px 8px #171616; overflow: hidden; });
  }
}

.filter {

  .wrap_btn_list {
    padding: 0.1px;

    .sm-block({ overflow: scroll; });

    .property_ul {
      margin-top: 23px;
      display: flex;
      position: relative;
      z-index: 10;

      .lg-block({ flex-wrap: wrap; justify-content: space-between; margin-top: 25px; });
      .sm-block({ flex-wrap: nowrap; justify-content: flex-start; width: 1065px; margin-top: 6px; });

      &__li {
        display: inline-block;
        width: calc(50% - 12px);

        .md-block({ width: calc(50% - 9px); });
        .sm-block({ width: auto; });

        &:not(:last-child) {
          margin-right: 16px;
          .lg-block({ margin-right: 0; });
        }

        .lg-block({ margin-right: 0; margin-bottom: 19px; });

        &:nth-child(odd) {
          .lg-block({ margin-right: 24px; });
          .md-block({ margin-right: 12px; });
        }
      }
    }
  }
}

.big_btn_filter {
  display: flex;
  background: #cfcfcf;
  justify-content: flex-start;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-height: 87px;
  max-width: 282px;
  align-items: center;

  .lg-block({ max-width: 100%; justify-content: flex-start; padding-left: 7%; });
  .sm-block({ max-width: 100%; justify-content: flex-start; background: transparent; border-radius: 0; padding: 10px 10px 57px 0; });

  .property_icon {
    min-width: 61px;
    /* min-height: 58px; */
    max-width: 57px;
    /* max-height: 58px; */
    overflow: hidden;

    .sm(display, none);
  }

  .property_text {
    color: #fff;
    text-align: left;
    margin-left: 15px;
    text-decoration: none;
    line-height: 24px;
    white-space: normal;
    max-width: 165px;
    display: inline-block;
    .MBold;

    .md-block({ font-size: 14px; text-decoration: none; });
    .sm-block({ color: #cfcfcf !important; text-decoration: none; max-width: none; })
  }

  .property_text_h1 {
    display: inline-block;
    line-height: 24px;
    text-align: left;
    margin-left: 15px;

    .property_text {
      margin-left: 0;
      color: #fff;
      text-align: left;
      text-decoration: none;
      line-height: 24px;
      .MBold;

      .md-block({ font-size: 14px; text-decoration: none; });
      .sm-block({ color: #cfcfcf !important; text-decoration: none; max-width: none; })
    }
  }
}

.catalog-content .filter .property_text {
  .sm-block({ color: #fff !important; });
}

.active_filter {
  background: @red !important;

  .sm-block({ background: transparent !important; border-bottom: 2px solid @red; padding: 7px 10px 11px 0; });

  .property_text {
    color: #cfcfcf !important;
  }
}

.active_filter_commerce {
  background: @active_btn_yellow !important;

  .sm-block({ background: transparent !important; border-bottom: 2px solid @red; padding: 7px 10px 11px 0; });

  .property_text {
    color: white !important;
  }
}

.active_filter_white {
  background: white !important;

  .sm-block({ background: transparent !important; border-bottom: 2px solid @red; padding: 7px 10px 11px 0; });

  .property_text {
    color: #000 !important;
  }
}

.property_angle {
  position: absolute;
  bottom: -45px;
  left: 0;
  display: none;

  .lg-block({ align-items: center; });
  .sm-block({ display: none !important; });

  &__li {
    padding: 0.1px;
    position: relative;

    &:not(:last-child) {
      margin-right: 80px;
    }

    a {
      text-decoration: none;
      font-size: 13px;
      color: @grey_text_bold;

      span {
        color: @grey_text_bold;
      }
    }
  }
}

.active_property {
  display: flex;
}

.form_filter_popup {
  max-width: 279px;
  margin-top: 15px;
  display: none;
  background: #000;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  position: absolute;
  //bottom: -310px;
  left: 0;

  .btn_submit {
    background: @violet;
    color: #fff;
    padding: 14px 16px;
    border-radius: 5px !important;
    border: none !important;
    outline: none !important;
    margin-top: 23px;
  }
}

.popup_filter {
  max-width: 279px;
  width: 279px;
  display: flex;
  flex-wrap: wrap;

  .head_filter {
    width: 100%;
    margin-bottom: 9px;
    font-size: 13px;
  }

  .input-field {
    max-width: 96px;
    max-height: 56px;

    input {
      max-width: 96px;
      max-height: 56px;
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.link_show_form {
  white-space: nowrap;
  display: flex;
  align-items: center;

  .lg-block({ white-space: normal; max-width: 180px; });

  .angle_down {
    display: inline-block;
    min-height: 18px;
    min-width: 26px;
    height: 18px;
    width: 26px;
    background: url(../img/down/onblack.svg) center center/cover no-repeat no-repeat;
  }
}

.mt35 {
  margin-top: 35px;
}

.catalog-content .filter {
  .sm-block({ height: 50px; background: transparent; box-shadow: -1px -6px 13px 8px #171616; overflow: hidden; });
}


/* Убираю фильтры, пока они не работают! */
.property_angle {
  display: none !important;
}
.active_property {
  display: none !important;
}
.catalog-content .filter {
  height: 108px !important;

  .lg-block({
    height: 200px !important;
  });

  .md-block({
    height: 52px !important;
  });
}

.btn_filter_mobile {
  display: none !important;
}