//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');

@font-face {
  font-family: 'MontserratReg';
  src: url('../fonts/Montserrat-Regular.woff2');
  src: url('../fonts/Montserrat-Regular.eot') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.woff2');
  src: url('../fonts/Montserrat-Bold.eot') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/Montserrat-SemiBold.woff2');
  src: url('../fonts/Montserrat-SemiBold.eot') format('embedded-opentype'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
  url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MicraBold';
  src: url('../fonts/Micra-Bold.woff2');
  src: url('../fonts/Micra-Bold.eot') format('embedded-opentype'),
  url('../fonts/Micra-Bold.woff') format('woff'),
  url('../fonts/Micra-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Micra-Bold.svg#Micra-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


// Миксины для шрифтов
.M {
  font-family: 'MontserratReg', sans-serif;
}

.MBold {
  font-family: 'MontserratBold', sans-serif;
}

.MSemiBold {
  font-family: 'MontserratSemiBold', sans-serif;
}

.MicraBold {
  font-family: 'MicraBold', sans-serif;
}