/*
.footer{
  background: @inp_bg;

  .md(display, none);

  .footer-menu {
    ul.first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      position: relative;
      z-index: 10;

      .lg-block({ 
        padding-top: 29px;
      });

      li {
        display: inline-block;
        margin-bottom: 25px;

        a {
          text-decoration: none;
          font-size: 16px;
          color: @grey_text_bold;
          
          &:hover {
            color: #fff;
          }
        }
      }

      // Активный пункт меню
      .active {
        a {
          .MBold;
          color: #ffffff;
        }
      }
    }

    .second-line {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      align-items: center;
      padding-bottom: 50px;

      .lg-block({
        margin-top: 5px;
      });

      // Лого
      .logo {
        display: inline-block;
        width: 403px;
        height: 63px;

        .lg-block({
          width: 228px;
          height: 35px;
        });
        
        img{
          width: 100%;
          height: auto;
        }
      }

      // Блок с телефоном
      .block-phone {
        display: flex;
        align-items: center;
        margin-left: 63px;

        .lg-block({
          margin-left: 40px;
        });

        &__icon-phone {
          display: inline-block;
          background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          margin-right: 13px;
          margin-bottom: -5px;
          opacity: .7;
        }
        &__wrap-head-number {

          .block-phone__head {
            font-size: 14px;
            line-height: 18px;
            color: @grey_text_bold;
          }
          .block-phone__number {
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }

      // Блок с email
      .block-email {
        display: flex;
        align-items: center;
        margin-left: 35px;

        &__icon-email {
          display: inline-block;
          background: url(../img/mail/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          margin-right: 13px;
          margin-bottom: -5px;
          opacity: .7;
        }

        &__wrap-head-email {
          display: inline-block;

          .block-email__head {
            font-size: 14px;
            line-height: 18px;
            color: @grey_text_bold;
          }
          .block-email__number {
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }

      .social{
        display: flex;
        justify-content: flex-end;
        flex: auto;

        *{
          height: 32px;
          width: 32px;
          margin-left: 8px;
          margin-top: 8px;

          .lg-block({
            margin-top: -4px;
          });
        }
        .vk{
          background: url(../img/social/VK.svg) center center/cover no-repeat no-repeat;
        }
        .ok{
          background: url(../img/social/OK.svg) center center/cover no-repeat no-repeat;
        }
        .instagram{
          background: url(../img/social/Instagram.svg) center center/cover no-repeat no-repeat;
        }
        .facebook{
          background: url(../img/social/facebook.svg) center center/cover no-repeat no-repeat;
        }
      }

    }
  }
}

*/
.footer {
  background: @inp_bg;

  .md(display, none);

  .footer-menu {
    ul.first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      position: relative;
      z-index: 9;

      .lg-block({ padding-top: 29px; });

      li {
        display: inline-block;
        margin-bottom: 25px;

        a {
          text-decoration: none;
          font-size: 16px;
          color: @grey_text_bold;

          &:hover {
            color: #fff;
          }
        }
      }

    }

    .second-line {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      align-items: center;
      padding-bottom: 25px;

      .lg-block({ margin-top: 5px; });

      // Лого
      .logo {
        display: inline-block;
        width: 403px;
        height: 63px;

        .lg-block({ width: 228px; height: 35px; });

        img {
          width: 100%;
          height: auto;
        }
      }

      // Блок с телефоном
      .block-phone {
        display: flex;
        align-items: center;
        margin-left: 63px;

        .lg-block({ margin-left: 40px; });

        &__icon-phone {
          display: inline-block;
          background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          margin-right: 13px;
          margin-bottom: -5px;
          opacity: .7;
        }
        &__wrap-head-number {

          .block-phone__head {
            font-size: 14px;
            line-height: 18px;
            color: @grey_text_bold;
          }
          .block-phone__number {
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }

      // Блок с email
      .block-email {
        display: flex;
        align-items: center;
        margin-left: 35px;

        &__icon-email {
          display: inline-block;
          background: url(../img/mail/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          margin-right: 13px;
          margin-bottom: -5px;
          opacity: .7;
        }

        &__wrap-head-email {
          display: inline-block;

          .block-email__head {
            font-size: 14px;
            line-height: 18px;
            color: @grey_text_bold;
          }
          .block-email__number {
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }

    .third-line{
      margin-bottom: 25px;
      a{
        font-size: 14px;
        line-height: 18px;
        color: #BCBCBC;
        margin-right: 32px;
      }      
    }

    .fourth-line{
      color: #7A7A7A;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      padding-bottom: 23px;
      margin: 0 70px;
      a{
        color: inherit;
        text-decoration: underline;
      }   
    }
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  flex-wrap: wrap;

  .lg-block({ justify-content: flex-start; margin: 30px 0 0 0; });

  .social_h4 {
    text-align: left;
    display: block;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 7px;
    width: 100%;
    .MSemiBold;
  }

  * {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    margin-top: 8px;

    .lg-block({ margin-top: -4px; });

    .md-block({ margin-top: 0; margin-left: 0; });
  }
  .vk {
    background: url(../img/social/VK.svg) center center/cover no-repeat no-repeat;
  }
  .ok {
    background: url(../img/social/OK.svg) center center/cover no-repeat no-repeat;
  }
  .instagram {
    background: url(../img/social/Instagram.svg) center center/cover no-repeat no-repeat;
  }
  .facebook {
    background: url(../img/social/facebook.svg) center center/cover no-repeat no-repeat;
  }
}

#container_menu_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 16px;
  padding-top: 0;


  .sm-block({ display: block; margin-top: 30px; padding-top: 0;});

  .form_tablet {
    display: inline-block;
    margin-right: 16px;
    background: transparent !important;
    padding-top: 0;
    text-align: left;
    .sm-block({ display: none; margin-top: 40px; width: 100%; margin-left: 16px; });

    .form_tablet__h3 {
      margin-top: 0;
      .sm(margin-left, 0);
    }

    .input-field {

      input {
        min-width: 348px;
        .sm-block({ display: block; width: calc(100% - 32px); min-width: 0; });
      }
    }

    .submit_menu_mobile {
      max-width: 171px;
      .sm-block({ display: block; width: calc(100% - 32px); max-width: none; });
    }
  }

  .container_menu_form_left {
    display: inline-block;
    text-align: left;
    margin-left: 16px;
    .sm-block({ display: block; });

    .container_menu_form_left__h4 {
      text-align: left;
      display: block;
      color: #ffffff;
      font-size: 16px;
      margin-bottom: 18px;
      width: 100%;
      .MSemiBold;
    }

    .email_our,
    .phone_our {
      margin-left: 43px;
      margin-top: 0;
      font-size: 14px;
    }

    .email_our::after,
    .phone_our::after {
      left: -42px;
      top: 2px;
      right: auto;
    }


  }
  .copyright{
    color: #7A7A7A;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 32px 0 12px;
    .sm-block({
      text-align: left;
      margin: 0 16px;
    });
    a{
      color: inherit;
      text-decoration: underline;
    }   
  }
}

.footer_for_tablet {
  padding-top: 30px;
}