.forgot_page {
  height: 548px;
  margin-top: 128px;
  position: relative;

  .lg-block({ height: 538px; });

  .md-block({ height: 616px; margin-top: 55px; });

  .sm-block({ height: 584px; });

  .bg {
    background: url("../img/background_image.png") no-repeat 64% 3%;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 30%;
    display: none;

    .md-block({ display: block; background: url("../img/background_image.png") no-repeat 116% -35%; background-size: 62%; });

    .sm-block({ display: none; });
  }

  .wrapper {

    padding-top: 32px;

    .md-block({ padding-top: 2px; });

    * {
      z-index: 1;
    }

    .breadcrumbs .reset_email {
      display: none;
      margin-top: 0;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      padding-top: 10px;
      padding-bottom: 14px;

      .md-block({ display: block; margin-bottom: 19px; });

      li:not(:last-child) {
        a {
          text-decoration: none;
          border-bottom: 1px solid #BCBCBC;
          height: 15px;
          display: inline-block;
        }
      }
    }

    h1 {
      font-size: 20px;
      line-height: 24px;
      .MBold;
      margin-bottom: 32px;
      padding: 0 0 0 2px;

      .md-block({ font-size: 18px; line-height: 20px; margin-bottom: 40px; });

      .sm-block({ margin-bottom: 30px; });
    }

    .text {
      margin-bottom: 16px;

      .sm-block({ margin-bottom: 24px; });
    }

    form {

      .contacts_input {
        margin-bottom: 18px;
        position: relative;
        width: 368px;

        .sm-block({ margin-bottom: 16px; width: 100%; });

        input {
          width: 100%;
          height: 56px;
          line-height: 56px;
          background: @inp_bg;
          border: none !important;
          outline: none !important;
          border-radius: 0 !important;
          text-indent: 17px;

          .sm-block({ });
        }

        #forgot__email {
          width: 100%;
          height: 56px;
          line-height: 56px;
          background: #1c1c1c;
          border: none !important;
          outline: none !important;
          border-radius: 0 !important;
          text-indent: 17px;
        }

        label {
          position: absolute !important;
          top: 20px;
        }
      }
      .send_mail {
        background: @violet;
        color: @white;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        width: 122px;
        padding: 14px 0;
        border: none;
        outline: none;
        margin: 16px 0;
        display: block;

        .sm-block({ margin: 32px 0; width: 100%; });
      }
    }
  }
}

.forgot_page .wrapper * {
  z-index: 1;
}

.forgot_page {
  height: 548px;
  margin-top: 168px;
  position: relative;
  display: block;
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .forgot_page {
    height: 538px;
  }
}

@media screen and (max-width: 1023px) {
  .forgot_page {
    height: 616px;
    margin-top: 55px;
  }
}

@media screen and (max-width: 767px) {
  .forgot_page {
    height: 584px;
  }
}

.reset_email_h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'MontserratBold', sans-serif;
  margin-bottom: 32px;
  padding: 0 0 0 2px;
}

.forgot__text {
  margin-bottom: 16px;
}

.forgot_page .wrapper form #forgot__email {
  position: relative;
  width: 368px;
}

.forgot_page .wrapper form .contacts_input input {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #1c1c1c;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  text-indent: 17px;
  padding-top: 15px;
}

.forgot_page .wrapper form .send_mail {
  background: #4550B9;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  width: 122px;
  padding: 14px 0;
  border: none;
  outline: none;
  margin: 16px 0;
  display: block;
}