header.header {
  background: #000;
  position: relative;
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 120;

  .md-block({ height: 54px; });

  .header-menu {
    padding: 0.1px;
    position: relative;

    .md-block({ padding-bottom: 7px; height: 52px; display: none; });
  }
}

.wrap_first_line {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: center;
  background: #000;
  margin-top: 18px !important;
  position: relative;
  height: 42px;
  .md-block({ margin-top: 0 !important; height: 56px; });

  .wrap_search_phone {
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    max-height: 33px;

    .lg-block({ max-width: none; margin-left: -8px; });
    .md(display, none);

    .block-search {
      display: flex;
      align-items: center;
      //border-bottom: 2px solid transparent;
      max-width: 96px;
      max-height: 31px;
      margin-right: 32px;

      .md-block({ display: block; border-bottom: none; max-width: 66px; });

      &__icon-search {
        display: inline-block;
        background: url(../img/search/onblack.svg) center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;

        .md-block({ margin-left: 17px; margin-bottom: -11px; });
      }

      &__input {
        border: none;
        outline: 0;
        color: #fff;
        background: 0 0;
        font-size: 14px;
        text-indent: 6px;
        line-height: 24px;
        width: 100%;

        .lg(padding-top, 13px);

        .M;
        &::-webkit-input-placeholder {
          color: @grey_text_bold;
        }
        &::-moz-placeholder {
          color: @grey_text_bold;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: @grey_text_bold;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: @grey_text_bold;
        }
      }

      &__icon-close {
        display: none;
        background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
        height: 15px;
        width: 15px;
        min-width: 15px;
        margin-left: -17px;
      }
    }

    // Блок с телефоном
    .block-phone {
      display: flex;
      align-items: center;
      opacity: 0.8;

      .lg(margin-top, 13px);

      &__icon-phone {
        display: inline-block;
        background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
        margin-right: -3px;
        margin-bottom: 3px;
      }
      &__wrap-head-number {
        padding-left: 12px;
        position: relative;

        .block-phone__head {
          font-size: 14px;
          color: @grey_text_bold;
        }
        .block-phone__number {
          font-size: 14px;
          text-decoration: none;
          color: @grey_text_bold;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    margin-left: -40px;
    position: absolute;
    left: calc(50% - 154px);
    max-width: 370px;
    height: 48px;
    top: -10px;

    .md-block({ margin-left: 0; width: 205px; min-width: 205px; position: static; left: auto; padding-top: 4px;     margin-left: -22px;});
    .sm-block({ width: 137px; margin-left: -22px; margin-top: 3px; });

  }
}

.login {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: @grey_text_bold;
  position: relative;
  //margin-right: 60px;
  .MBold;

  .lg-block({ font-size: 14px; });

  .md(display, none);

  &::after {
    content: '';
    background: url(../img/user.svg) center center/cover no-repeat no-repeat;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -37px;
  }
}

.wrap_authorize {

  .login {
    margin-right: 60px;
  }

  .basket_link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: @grey_text_bold;
    position: relative;
    .MBold;
    z-index: 2;

    .lg-block({ font-size: 14px; });

    .md(display, none);

    &::after {
      content: '';
      background: url(../img/basket/onblack.svg) center center/cover no-repeat no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      left: -28px;
    }

    .qty_product {
      height: 18px;
      width: 18px;
      max-height: 20px;
      max-width: 20px;
      background: @violet;
      color: #fff;
      border-radius: 20px;
      position: absolute;
      top: -8px;
      left: -17px;
      text-align: center;
      z-index: 3;
      font-size: 11.2px;
      line-height: 18px;
    }
  }
}

.wrap_authorize_mobile {
  position: relative;
  text-align: end;
  float: right;
  display: none;
  flex-wrap: wrap;
  z-index: 115;
  max-width: 65px;
  padding-top: 30px;

  .md-block({ display: flex; });

  .login {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    color: @grey_text_bold;
    position: relative;
    .MBold;

    .lg-block({ font-size: 14px; });

    &::after {
      content: '';
      background: url(../img/user.svg) center center/cover no-repeat no-repeat;
      width: 18px;
      height: 20px;
      position: absolute;
      top: 0;
      left: -32px;
    }
  }

  .basket_link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    color: @grey_text_bold;
    position: relative;
    .MBold;
    z-index: 2;
    margin-bottom: 30px;

    .lg-block({ font-size: 14px; });

    &::after {
      content: '';
      background: url(../img/basket/onblack.svg) center center/cover no-repeat no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      left: -37px;
    }

    .qty_product {
      height: 18px;
      width: 18px;
      max-height: 20px;
      max-width: 20px;
      background: @violet;
      color: #fff;
      border-radius: 20px;
      position: absolute;
      top: -8px;
      left: -25px;
      text-align: center;
      z-index: 3;
      font-size: 11.2px;
      line-height: 18px;
    }
  }
}

// Вторая линия
ul.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  position: relative;
  z-index: 10;

  .md-block({ display: none; });

  li {
    display: inline-block;
    margin-bottom: 25px;

    a {
      text-decoration: none;
      font-size: 16px;
      color: @grey_text_bold;
      .md-block({
        color: #fff;
      });
      // &:hover {
      //   color: #fff;
      //   .md-block({
      //     color: @grey_text_bold !important;
      //   });
      // }
    }
  }

  .delivery_links{
    display: none;
    .md-block({
      display: block;
      margin-top: 48px;
    });    
    .sm-block({
      margin-bottom: 90px;
    });
    a{
      .M;
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #BCBCBC;
      margin-bottom: 16px;
    }
  }
}

.wrap_mob {
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 60px;

  .md(display, flex);

  .wrap-userinfo_card {
    display: flex;
    justify-content: space-between;

    .md(display, none);

    .sm-block({ display: flex; width: 120px; });

    .block-userinfo {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__icon {
        display: inline-block;
        background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
      }
      &__head {
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
      }
    }
    .block-card {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__icon {
        display: inline-block;
        background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
      }
      &__head {
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

  .mobile768 {
    display: none;
    width: 30px;
    height: 30px;
    margin-left: -28px;
    .md(display, none);
    .sm(display, none);
    &::after {
      content: '';
      display: none;
      background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
      width: 30px;
      height: 30px;

      .md(display, none);
      .sm-block({ display: none; width: 23px; height: 26px; margin-left: -15px; });
    
    }    
  }

  .sandwich {
    display: none;
    width: 30px;
    height: 25px;
    .md(display, inline-block);
    .sm-block({ width: 29px; height: 18px; });
    .i5-block({ width: 29px; height: 18px; });

    &::after {
      content: '';
      display: none;
      background: url(../img/menu/onblack.svg) center center/cover no-repeat no-repeat;
      width: 30px;      

      .md(display, inline-block);

      .sm-block({ width: 29px; height: 18px; });
      .i5-block({ width: 29px; height: 18px; });

    }    
  }

  #sandwich {
    &::after {
      content: '';
      display: none;
      background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
      width: 28px;
      height: 19px;

      .md(display, inline-block);
    }
  }
}
.wrap_mob.office{
  .sm-block({ width: 100%; justify-content: space-between;});
  .wrap_data_basket{
    align-items: flex-end;
  }
}



// Для меню
#header_style_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

#menu_tablet_LK {
  display: none;
  width: 100%;
  height: 100vh;
  background: url(../img/bg_leo.png) center center/cover no-repeat no-repeat, @bg;
  padding-top: 50px;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 111;

  .md-block({ display: block; background: url(../img/bg_leo2000.png) center center/cover no-repeat no-repeat, @bg; });
  .sm-block({ background: url(../img/bg_leo320.png) center center/cover no-repeat no-repeat, @bg; });

  li {
    padding-right: 20px;
    display: block;
    text-align: end;
  }

  .md(display, block);
}

.header-menu > div.wrapper {
  position: relative;
}

.bg_tablet {
  display: none;
  background: url(../img/background_image.png) center center/cover no-repeat no-repeat;
  position: absolute;

  .md-block({ display: none; right: auto; left: -50px; top: 66px; z-index: 112; width: 355px; height: 581px; transform: scale(-1, 1); });
}

// LEO BG
section.wrapper {
  position: relative;
  z-index: 1;

  .bg {
    display: none;
    background: url(../img/background_image.png) center center/cover no-repeat no-repeat;
    position: absolute;
    right: -305px;
    top: 136px;
    z-index: -100;
    width: 874px;
    height: 1428px;

    .md-block({ display: inline-block; right: -132px; top: -72px; z-index: -100; width: 678px; height: 965px; });

    .sm-block({ top: -61px; });

    .xs-block({ display: inline-block; right: -118px; top: -60px; z-index: -100; width: 350px; height: 580px; });
  }
}



// Для меню
#header_style_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

#menu_tablet {
  display: none;
  width: 100%;
  height: 100vh;
  background: url(../img/bg_leo.png) center center/cover no-repeat no-repeat, @bg;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 111;

  padding-top: 155px;
  top: -24px;

  .md-block({ display: block; background: url(../img/bg_leo2000.png) center center/cover no-repeat no-repeat, @bg; });
  .sm-block({ background: url(../img/bg_leo320.png) center center/cover no-repeat no-repeat, @bg; top: -24px; });

  li {
    padding-right: 20px;
    display: block;
    text-align: end;
  }

  .md(display, block);
}

.header-menu > div.wrapper {
  position: relative;
}

.bg_tablet {
  display: none;
  background: url(../img/background_image.png) center center/cover no-repeat no-repeat;
  position: absolute;

  .md-block({ display: none; right: auto; left: -50px; top: 66px; z-index: 112; width: 355px; height: 581px; transform: scale(-1, 1); });
}

// LEO BG
section.wrapper {
  position: relative;
  z-index: 1;

  .bg {
    display: none;
    background: url(../img/background_image.png) center center/cover no-repeat no-repeat;
    position: absolute;
    right: -305px;
    top: 136px;
    z-index: -100;
    width: 874px;
    height: 1428px;
    opacity: .7;

    .lg-block({ display: inline-block; right: -132px; top: 0; z-index: -100; width: 430px; height: 790px; });

    .md-block({ display: inline-block; right: -132px; top: -100px; z-index: -100; width: 430px; height: 790px; });

    .sm-block({ top: -120px; });

    .xs-block({ display: inline-block; right: -118px; top: -120px; z-index: -100; width: 350px; height: 580px; });
  }
}



/******  Контэйнер для левого контента в меню на планшете и мобиле  *******/
.container_menu_form {
  display: none;
  position: absolute;
  top: 23px;
  left: 25px;
  z-index: 116;

  .md-block({ display: block; });
  .sm-block({ top: 45px; });

  h4 {
    color: @grey_text_bold;
    font-size: 16px;
    margin-bottom: 23px;

    .sm(display, none);
  }

  .email_our,
  .phone_our {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    display: inline-block;
    position: relative;
  }

  .smaller768 {
    display: none;
    margin-top: 23px;
    text-align: center;
    border-radius: 5px;
    padding: 14px 16px;
    border: 1px solid @violet;
    outline: none !important;
    background: transparent;
    text-decoration: none;

    .sm-block({ display: block; padding: 10px 10px; font-size: 12px; max-width: 107px; margin-top: 0; });
  }

  .email_our {
    margin-bottom: 35px;

    .sm-block({ margin-left: 0; });

    &::after {
      content: '';
      width: 22px;
      height: 18px;
      display: inline-block;
      background: url(../img/mail/onblack.svg) center center / cover no-repeat no-repeat;
      position: absolute;
      left: -35px;
      top: 0;

      .sm-block({ left: 0; top: -30px; });
    }
  }

  .phone_our {

    .sm-block({ margin-top: 20px; margin-left: 7px; text-decoration: underline; });

    &::after {
      content: '';
      width: 22px;
      height: 18px;
      display: inline-block;
      background: url(../img/phone/onblack.svg) center center / cover no-repeat no-repeat;
      position: absolute;
      left: -35px;
      top: 0;

      .sm(display, none);
    }
  }

  form.form_tablet {
    //.sm(display, none);

    h3 {
      font-size: 18px;
      color: #fff;
      .MBold;
      margin-top: 35px;
      margin-bottom: 26px;
    }

    .user_name,
    .user_email,
    .user_description {
      margin-bottom: 16px;
    }

    .submit_menu_mobile {
      margin-top: 23px;
      text-align: center;
      border-radius: 5px;
      padding: 14px 16px;
      background: @violet;
      border: none !important;
      outline: none !important;
    }
  }
}

#for_sm {
  display: none;

  .sm-block({
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 48px; margin-right: 0;
  });
}

#img_arrow_left {
  display: none;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);

  .md(display, inline-block);
}
.btn_filter_mobile {
    background: #900020;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    display: none;
    .sm-block({
      display: block;
    });
}

/* Добавлено 08 04 20, тоже самое убрал из main.css */
.wrap_first_line .not_login {
  margin-right: 55px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  /* color: #BCBCBC;*/
  color: #fff;
  position: relative;
  font-family: 'MontserratReg', sans-serif;
  padding-left: 20px;
}

.wrap_first_line .not_login:hover {
  opacity: .8;
  text-decoration: none;
}

.not_login:after {
  content: '';
  background: url(../img/user.svg) center center / cover no-repeat no-repeat;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -4px !important;
}

@media screen and (max-width: 1280px) {
  .wrap_first_line .not_login {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .wrap_first_line .not_login {
    display: none !important;
  }
}

.login::after {
  left: -25px !important;
}
