.header-menu-profile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 120;
  background: #000;

  .wrap_first_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 112;

    .md-block({
      height: 56px;
    });

    .sm-block({
      justify-content: end;
      height: 64px;
    });

    .comeback{
      flex: 13;
      text-decoration: none;
      display: flex;
      align-items: center;

      .lg-block({
        flex: 9;
      });
      .md-block({
        display:none;
      });

      &__icon{
        display: inline-block;
        height: 24px;
        width: 24px;
        background: url(../img/arrow/onblack.svg) center center/cover no-repeat no-repeat;
        transform: scale(-1, 1);
        margin-right: 8px;
      }

      &__text{
        .MBold;
        color: #BCBCBC;
      }
    }

    .wrap_phone_mail {
      display: flex;
      justify-content: space-between;
      flex: 10;

      .lg-block({
        flex: 13;
      });
      .md-block({
        display:none;
      });

      .block-phone {
        display: flex;
        align-items: flex-end;

        &__icon-phone {
          display: inline-block;
          background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          min-width: 24px;
          margin-right: 8px;
          margin-bottom: 3px;
        }
        &__wrap-head-number{

          .block-phone__head {
            font-size: 14px;
          }
          .block-phone__number {
            font-size: 12px;
            text-decoration: none;
          }
        }
      }
      .block-mail {
        display: flex;
        align-items: flex-end;

        &__icon-mail {
          display: inline-block;
          background: url(../img/mail/onblack.svg) center center/cover no-repeat no-repeat;
          height: 24px;
          width: 24px;
          min-width: 24px;
          margin-right: 8px;
          margin-bottom: 3px;
        }
        &__wrap-head-mail{

          .block-mail__head {
            font-size: 14px;
          }
          .block-mail__mail {
            font-size: 12px;
            text-decoration: none;
          }
        }
      }
    }

    .logo {
      flex: 8;
      display: flex;
      justify-content: flex-end;

      .lg-block({
        flex: 10;
      });
      .md-block({
        justify-content: start;
      });
      .sm-block({
        display: none;
      });

      img{
        width: 219px;
        height: 34px;
      }
    }

    .wrap_mob {
      display: none;
      justify-content: space-between;
      width: 96px;

      .md(display, flex);

      .sm-block({
        align-items: center;
        width: 100%;
      });

      //Кнопки Аккаунт+Корзина
      .wrap-userinfo_card {
        display: flex;
        justify-content: space-between;

        .md(display, none);

        .sm-block({
          display: flex;
          width: 120px;
        });

        .block-userinfo {
          display: flex;
          align-items: center;
          flex-direction: column;

          &__icon {
            display: inline-block;
            background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
            height: 24px;
            width: 24px;
            min-width: 24px;
          }
          &__head{
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
          }
        }
        .block-card {
          display: flex;
          align-items: center;
          flex-direction: column;

          &__icon{
            display: inline-block;
            background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
            height: 24px;
            width: 24px;
            min-width: 24px;
          }
          &__head{
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      //Кнопки Кабинет+Корзина
      .wrap-account_card {
        display: flex;
        justify-content: space-between;

        .md(display, none);

        .sm-block({
          display: flex;
          width: 120px;
        });

        .block-account {
          display: flex;
          align-items: center;
          flex-direction: column;

          &__icon {
            display: inline-block;
            background: url("../img/user/onblack.svg") center center/cover no-repeat no-repeat;
            height: 24px;
            width: 24px;
            min-width: 24px;
          }
          &__head{
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
          }
        }
        .block-card {
          display: flex;
          align-items: center;
          flex-direction: column;

          &__icon{
            display: inline-block;
            background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
            height: 24px;
            width: 24px;
            min-width: 24px;
          }
          &__head{
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      .mobile768 {
        display: none;
        width: 32px;
        height: 32px;

        &::after {
          content: '';
          display: none;
          background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
          width: 32px;
          height: 32px;

          .md(display, inline-block);
          .sm(display, none);
        }

        .md(display, inline-block);
      }

      .sandwich {
        display: none;
        width: 32px;
        height: 32px;

        &::after {
          content: '';
          display: none;
          background: url(../img/menu/onblack.svg) center center/cover no-repeat no-repeat;
          width: 32px;
          height: 32px;

          .md(display, inline-block);
        }

        .md(display, inline-block);
      }

      #sandwich {
        &::after {
          content: '';
          display: none;
          background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
          width: 19px;
          height: 27px;

          .md(display, inline-block);
        }
      }
    }

  }
  .second-line{
    display: none;
  }
  #menu_tablet {
    display: none;
    width: 100%;
    height: 100vh;
    background: url(../img/bg_leo.png) center center/cover no-repeat no-repeat, @bg;
    padding-top: 10px;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;

    .md-block({ display: block; background: url(../img/bg_leo2000.png) center center/cover no-repeat no-repeat, @bg;});
    .sm-block({ background: url(../img/bg_leo320.png) center center/cover no-repeat no-repeat, @bg;});

    li {
      padding-right: 20px;
      display: block;
      text-align: end;
    }

    .md(display, block);
  }

}

.header-menu-profile.fixed{
  position: fixed;
  width: 100%;
}

// Для меню
#header_style_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

