/*

.header_mob_transparent{

	.sm-block({
		background: transparent !important;
	});	
	.wrap_first_line{
		.sm-block({
			background: transparent !important;
		});
		.wrap_mob{
			z-index: 150;
		}
	}
	#menu_tablet{
		top: -80px;
		padding-top: 70px;
	}
}
.index{
	

	.md-block({
		margin-top: 55px;
	});

	.sm-block({
		margin-top: 0px;
	});

	.banner{
		position: relative;
	}
	.banner::after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.categories{
		display: flex;
		padding-top: 46px;
		padding-bottom: 139px;
		padding-left: 20px;
		padding-right: 12px;
	    justify-content: space-evenly;
		.lg-block({
			padding-top: 48px;
			padding-bottom: 124px;
			padding-left: 57px;
			padding-right: 42px;
		});
		.md-block({
			padding-top: 30px;
			padding-bottom: 80px;
			padding-left: 13px;
			padding-right: 13px;
		});
		.sm-block({
			padding-top: 30px;
			padding-bottom: 35px;
			overflow: scroll;
			justify-content: flex-start;
		});
		.cat_block{
			width: 176px;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			.lg-block({
				width: 135px;
			});
			img{
				width: 176px;
				height: 176px;
				border-radius: 10px;
				margin-bottom: 16px;
				.lg-block({
					width: 135px;
					height: 135px;
				});
				.md-block({
					width: 100px;
					height: 100px;
				});
			}
			p{
				font-size: 16px;
				line-height: 20px;
				color: @white;
				text-align: center;

				.lg-block({
					font-size: 14px;
				});
				.sm-block({
					font-size: 12px;
				});
			}
		}
	}
	.description{
		position: relative;
		
		
		.lg-block({
			width: 100vw;
			padding: 0;
		});

		

		.desc_block{
			display: flex;
			max-width: 1600px;
   			margin: 0 auto 111px;
			justify-content: flex-start;
			align-items: center;
			
			.lg-block({
				margin-bottom: 77px;
			});

			.md-block({
				margin-bottom: 40px;
			});

			.sm-block({
				margin-bottom: 56px;
			});

			&:nth-child(odd){
				flex-direction: row-reverse;
				height: 513px;
				.lg-block({
					height: 416px;
				});
				.md-block({
					height: 331px;
				});
				.sm-block({
					height: auto;
					flex-direction: column-reverse;
					align-items: flex-end;		
					position: relative;		
				});
				
				&::after{
					content: '';
					display: block;
					position: absolute;
					right: 0;
					background: @blue_back;
					height: 513px;
				    width: 50%;

					.lg-block({
						display: none;
					});

					.sm-block({
						display: block;
						height: 100%;
					});
				}

				.info{
					width: 918px;			    
				    align-items: flex-start;
				    padding: 44px 0px 44px 382px;		
				    background: @blue_back;
				    margin-left: 44px;	
					.lg-block({
						width: 738px;
						padding: 44px 0px 44px 317px;
					});
					.md-block({
						width: 558px;
						padding: 44px 0px 44px 255px;
					});
					.sm-block({
						width: 50vw;
						padding: 0 16px 24px 0;
						align-items: flex-end;
						text-align: right;
						margin: 0;
						height: auto;
						background: transparent;
					});
					.header{
						.sm-block({
							text-align: right;
							padding-left: 32px;
						});
					}
					.text{
						.sm-block({
							text-align: right;
							padding-left: 32px;
							margin: 34px 0;
						});
					}
				}
				.image{
					margin-right: -382px;
					.lg-block({
						margin-right: -317px;
					});
					.md-block({
						margin-right: -255px;
					});
					.sm-block({
						top: 0;
						margin-right: 0;
					});
				}
			}

			&:nth-child(even){
				height: 560px;
				.lg-block({
					height: 464px;
				});
				.md-block({
					height: 341px;
				});
				.sm-block({
					height: auto;
					flex-direction: column-reverse;
					align-items: flex-start;
					position: relative;	
				});

				&::after{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					background: @red_back;
					width: 920px;
					height: 560px;
				    width: 50%;
				    left: 0;

					.lg-block({
						display: none;
					});
					.sm-block({
						display: block;
						height: 100%;
					});
				}

				.info{
					width: 920px;			    
				    align-items: flex-end;
				    padding: 44px 387px 44px 0;		
				    background: @red_back;
				    margin-right: 44px;	

					.lg-block({
						width: 738px;
						padding: 44px 317px 44px 0px;
					});
					.md-block({
						width: 558px;
						padding: 44px 244px 44px 0px;
					});
					.sm-block({						
						align-items: flex-start;
						width: 50vw;
						padding: 0 0 20px 16px;
						background: transparent;
						height: auto;
					});
					.header{
						text-align: right;
						.sm-block({
							text-align: left;
							padding-right: 32px;
						});
					}
					.text{
						text-align: right;
						.sm-block({
							text-align: left;
							padding-right: 32px;
							margin: 26px 0;
						});
					}
				}
				.image{
					margin-left: -387px;
					.lg-block({
						margin-left: -317px;
					});
					.md-block({
						margin-left: -244px;
					});
					.sm-block({
						top: 0;
						margin-left: 0;
					});
					
				}
			}
			
			> *{
				z-index: 1;
			}
			.info{
				display: flex;
				flex-direction: column;
				justify-content: center;	
				height: 100%;
				

				.sm-block({
					flex: auto;
					justify-content: flex-end;
					height: auto;
				});

				.header{
					font-size: 40px;
					line-height: 40px;
					width: 436px;
					.MBold;					

					.lg-block({
						font-size: 32px;
						line-height: 32px;
						width: 416px;
					});

					.md-block({				
						font-size: 24px;
						line-height: 28px;
						margin-top: 0;
						width: 280px;
					});

					.sm-block({
						font-size: 24px;
						line-height: 28px;
						width: 100vw;
					});
				}

				.text{
					font-size: 20px;
					max-width: 310px;
					overflow: hidden;
					color: @white;
					margin: 32px 0;
					.lg-block({
					});
					.md-block({
						font-size: 16px;
						line-height: 20px;
						color: @grey_text_bold;
						max-width: 249px;
						margin: 24px 0;
					});

					.sm-block({
						width: 100vw;
						max-width: 100vw;
					});
				}

				.button{
					font-size: 16px;
					line-height: 20px;
					background: @black_button;
					box-sizing: border-box;
					border-radius: 5px;
					width: max-content;
					padding: 14px 17px;
					display: block;
					text-decoration: none;
					text-align: center;

					.md-block({
						font-size: 12.8595px;
						line-height: 16px;
						padding: 11px 13px;
					});

					
				}
			}
	
			.image{
				height: 100%;
				width: auto;
				.sm-block({
					width: 100%;
					height: auto;
				});
			}
		}
	}
}*/

.header_mob_transparent {

  .sm-block({ background: transparent !important; });
  .wrap_first_line {
    .sm-block({ background: transparent !important; });
    .wrap_mob {
      z-index: 150;
    }
  }
  #menu_tablet {
    top: -80px;
    padding-top: 70px;
  }
}

.index {

  background: url('../img/lion.svg') no-repeat 0 57vw;
  background-size: 100% auto;
  height: 202vw;
  margin-bottom: -107px;

  .lg-block({ // min-height: 2480px;
  });

  .md-block({ margin-top: 55px; // min-height: 2670px;
  });

  .sm-block({ margin-bottom: -30px; margin-top: 0px; background: url('../img/lion.svg') no-repeat center 57vw; background-size: 245% auto; min-height: 459vw; height: auto; // height: auto;
  });

  .banner {
    position: relative;
  }
  .banner::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .categories {
    display: flex;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 12px;
    justify-content: space-evenly;
    .lg-block({ padding-bottom: 124px; padding-left: 57px; padding-right: 42px; });
    .md-block({ padding-bottom: 80px; padding-left: 13px; padding-right: 13px; });
    .sm-block({ padding-bottom: 35px; overflow: scroll; justify-content: flex-start; });
    &__title {
    	font-size: 24px;
		line-height: 28px;
		.MicraBold;
		text-transform: uppercase;
		width: max-content;
      margin: 40px auto 64px;
      position: relative;
      .lg-block({ font-size: 22px; line-height: 28px;});
      .md-block({ font-size: 18px; line-height: 28px; });
      .sm-block({ font-size: 16px; line-height: 20px; width: min-content; text-align: center;});
      &::before, &::after{
      	content: '';
      	background: url(../img/line_title.svg) center center / cover no-repeat no-repeat;
      	width: 60px;
      	height: 1px;
      	display: block;
      	position: absolute;
      	top: 50% ;
      }
      &::before{
      	left: -84px;
      }
      &::after{
      	right: -84px;
      	transform: rotate(180deg);
      }
    }
    .cat_block {
      width: 176px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      .lg-block({ width: 135px; });
      img {
        width: 176px;
        height: 176px;
        border-radius: 10px;
        margin-bottom: 16px;
        .lg-block({ width: 135px; height: 135px; });
        .md-block({ width: 100px; height: 100px; });
      }
      p {
        font-size: 16px;
        line-height: 20px;
        color: @white;
        text-align: center;

        .lg-block({ font-size: 14px; });
        .sm-block({ font-size: 12px; });
      }
    }
  }
  .description {
    position: relative;

    .lg-block({ width: 100vw; padding: 0; });

    .desc_block {
      display: flex;
      max-width: 1600px;
      margin: 0 auto 111px;
      justify-content: flex-start;
      align-items: center;

      .lg-block({ margin-bottom: 77px; });

      .md-block({ margin-bottom: 40px; });

      .sm-block({ margin-bottom: 56px; });

      &:nth-child(odd) {
        flex-direction: row-reverse;
        height: 513px;
        .lg-block({ height: 416px; });
        .md-block({ height: 331px; });
        .sm-block({ height: auto; flex-direction: column-reverse; align-items: flex-end; position: relative; });

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          background: @blue_back;
          height: 513px;
          width: 50%;

          .lg-block({ display: none; });

          .sm-block({ display: block; height: 100%; });
        }

        .info {
          width: 918px;
          align-items: flex-start;
          padding: 44px 0px 44px 382px;
          background: @blue_back;
          margin-left: 44px;
          .lg-block({ width: 738px; padding: 44px 0px 44px 317px; });
          .md-block({ width: 558px; padding: 44px 0px 44px 255px; });
          .sm-block({ width: 50vw; padding: 0 16px 24px 0; align-items: flex-end; text-align: right; margin: 0; height: auto; background: transparent; });
          .header {
            .sm-block({ text-align: right; padding-left: 32px; });
          }
          .text {
            .sm-block({ text-align: right; padding-left: 32px; margin: 34px 0; });
          }
          .button {
            background: @orange_button;
          }
        }
        .image {
          margin-right: -382px;
          .lg-block({ margin-right: -317px; });
          .md-block({ margin-right: -255px; });
          .sm-block({ top: 0; margin-right: 0; });
        }
      }

      &:nth-child(even) {
        height: 560px;
        .lg-block({ height: 464px; });
        .md-block({ height: 341px; });
        .sm-block({ height: auto; flex-direction: column-reverse; align-items: flex-start; position: relative; });

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          background: @black_back;
          width: 920px;
          height: 560px;
          width: 50%;
          left: 0;

          .lg-block({ display: none; });
          .sm-block({ display: block; height: 100%; });
        }

        .info {
          width: 920px;
          align-items: flex-end;
          padding: 44px 387px 44px 0;
          background: @black_back;
          margin-right: 44px;

          .lg-block({ width: 738px; padding: 44px 317px 44px 0px; });
          .md-block({ width: 558px; padding: 44px 244px 44px 0px; });
          .sm-block({ align-items: flex-start; width: 50vw; padding: 0 0 20px 16px; background: transparent; height: auto; });
          .header {
            text-align: right;
            .sm-block({ text-align: left; padding-right: 32px; });
          }
          .text {
            text-align: right;
            .sm-block({ text-align: left; padding-right: 32px; margin: 26px 0; });
          }
          .button {
            background: @blue_button;
          }
        }
        .image {
          margin-left: -387px;
          .lg-block({ margin-left: -317px; });
          .md-block({ margin-left: -244px; });
          .sm-block({ top: 0; margin-left: 0; });

        }
      }

      > * {
        z-index: 1;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .sm-block({ flex: auto; justify-content: flex-end; height: auto; });

        .header {
          font-size: 40px;
          line-height: 40px;
          width: 436px;
          .MBold;

          .lg-block({ font-size: 32px; line-height: 32px; width: 416px; });
          .md-block({ font-size: 24px; line-height: 28px; margin-top: 0; width: 280px; });
          .sm-block({ font-size: 24px; line-height: 28px; width: 100vw; });
        }

        .text {
          font-size: 20px;
          max-width: 310px;
          overflow: hidden;
          color: @white;
          margin: 32px 0;
          .md-block({ font-size: 16px; line-height: 20px; color: @grey_text_bold; max-width: 249px; margin: 24px 0; });
          .sm-block({ width: 100vw; max-width: 100vw; });
        }

        .button {
          font-size: 16px;
          line-height: 20px;
          box-sizing: border-box;
          border-radius: 5px;
          width: max-content;
          padding: 14px 17px;
          display: block;
          text-decoration: none;
          text-align: center;

          .md-block({ font-size: 12.8595px; line-height: 16px; padding: 11px 13px; });

        }
      }

      .image {
        height: 100%;
        width: auto;
        .sm-block({ width: 100%; height: auto; });
      }
    }
  }
}

/* Правка от Алексея */
.index_section_category {
  .lg-block({ max-height: 330px; overflow: hidden; margin-bottom: 30px; });
  .md-block({ max-height: 263px; overflow: hidden; margin-bottom: 30px; });
  .sm-block({ max-height: 263px; overflow: hidden; margin-bottom: 30px; });
}