@import "font";
@import "smart-grid";
@import "var";
@import "header";
@import "header-profile";
@import "partner";
@import "where_buy";
@import "personal_area";
@import "card_product";
@import "popup";
@import "userinfo";
@import "personal_area-stock";
@import "accordion";
@import "catalog";
@import "teaching";
@import "to-buyers";
@import "popup-signin";
@import "footer";
@import "contacts";
@import "index";
@import "popup_cart";
@import "signup";
@import "forgot";
@import "company";
@import "basket";
@import "empty_basket";
@import "404";
@import "partner_success_submit";
@import "price_list";
@import "filter";
@import "stock";
@import "policy";
@import "delivery";
@import "purchase_returns";


* {
  box-sizing: border-box;
  transition: all 0s;
  .reset();
  .M;
  color: #fff;
}

.debug {
  .debug(rgba(118, 112, 137, 0.24), 1px solid rgba(157, 153, 250, 0.33));
}

.wrapper {
  .wrapper();
  padding: 0.01px;
}

html,
body {
  height: auto;
  background: @bg;
  overflow-x: hidden;
  position: relative;
}

.breadcrumbs {
  display: none;
  position: relative;
  z-index: 100;

  .md-block({ display: block; margin-top: 73px; });


  li {
    display: inline-block;

    a {
      color: @grey_text_bold;
      font-size: 12px;
      text-decoration: underline;
    }

    &:last-child {

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/* Хлебные крошки для вида Выгрузка каталога, Прайс-лист */
.breadcrumbs_UC,
.breadcrumbs_PL {
  display: none;
  position: relative;
  z-index: 100;
  margin-bottom: 30px;

  .md-block({ display: none; margin-top: 100px; margin-bottom: 0;});


  li {
    display: inline-block;

    a {
      color: @grey_text_bold;
      font-size: 12px;
      text-decoration: underline;
      line-height: 24px;
    }

    &:last-child {

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.breadcrumbs_CP,
#breadcrumbs_lk
{
  display: block;
  position: relative;
  z-index: 100;
  margin-top: 150px;
  margin-bottom: 30px;

  .md-block({ margin-top: 70px; });

  li {
    display: inline-block;

    a {
      color: @grey_text_bold;
      font-size: 12px;
      text-decoration: underline;
      line-height: 24px;
    }

    &:last-child {

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.show_md {
  display: none;

  .md(display, inline-block);
}

.nav-item:active{
  a{
    color: #fff !important;
    .md-block({
      color: #BCBCBC !important;
    });
  }
}
.nav-item.active {
  a {
    .MBold;
    color: #fff ;
    .md-block({
      .M;
      color: #E0AA5A !important;
    });
  }
}