.i-interested,
.organization,
.contact-face {
  margin-top: 54px;
  margin-bottom: 20px;

  &__head {
    display: block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
    .MBold;
  }
}

.input-field {
  display: block;
  position: relative;

  input#interested {
    //background: @inp_bg;
    background: #191919;
    padding: 20px;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }

  label {
    position: absolute;
    display: inline-block;
    top: 19px;
    left: 18px;
    color: #7a7a7a;
    z-index: 11;
    font-size: 16px;
  }
}

// PP
.i-interested {
  margin-bottom: 0;
}

.organization {
  margin-top: 29px;
}

.contact-face {
  margin-top: 32px;
}

.organization {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name,
  &__inn,
  &__address {

    .lg-block({ width: 31%; });

    .md-block({ margin-bottom: 20px; width: 100%; });

    .sm-block({ margin-bottom: 16px; });

    input {
      width: 368px;
      background: #191919;
      padding: 20px;
      border: none;
      outline: none;
      display: inline-block;
      font-size: 16px;

      .lg-block({ width: 100%; });
    }

    label {
      position: absolute;
      display: inline-block;
      top: 19px;
      left: 18px;
      color: #7a7a7a;
      z-index: 11;
      font-size: 16px;
    }
  }
}

.contact-face {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: .1px solid transparent;

  &__name,
  &__phone,
  &__email {
    .lg-block({ width: 31%; });

    .md-block({ margin-bottom: 20px; width: 100%; });

    .sm-block({ margin-bottom: 16px; });

    input {
      width: 368px;
      background: #191919;
      padding: 20px;
      border: none;
      outline: none;
      display: inline-block;
      font-size: 16px;

      .lg-block({ width: 100%; });
    }

    label {
      position: absolute;
      display: inline-block;
      top: 19px;
      left: 18px;
      color: #7a7a7a;
      z-index: 11;
      font-size: 16px;
    }
  }
}

.wrap_btn-form_info {
  display: flex;
  margin-top: 43px;
  border: .1px solid transparent;
  flex-wrap: wrap;

  .xs(flex-wrap, wrap);
  .sm-block({ margin-top: 34px; });

  a.btn-form {
    display: inline-block;
    color: #fff;
    background: @violet;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 17px;
    padding-left: 17px;
    margin-right: 32px;
    white-space: nowrap;

    &:active {
      background: @pressed;
    }
    .md-block({ width: 288px; });
    .xs-block({ display: block; width: 100%; margin-bottom: 20px; margin-right: 0; });
  }

  p.info {
    font-size: 12px;
    color: @grey_text;
    max-width: 307px;

    .sm-block({ order: 3; });
    .xs-block({ max-width: none; });
  }

  .form_partner__red-text {
    //display: inline-block;
    display: none;
    color: #FB5353;
    margin-top: 20px;
    min-width: 100%;

    .sm-block({ order: 2; margin-bottom: 15px; });
  }
}

/* Не пойму как убрать вертикальное схлопываение марджинов */
form.form {
  /* 1. Ненулевой padding сверху и снизу */
  padding: 0.1px 0;
  /* 2. Скрываем всё за пределами блока */
  //overflow: hidden;
  /* 3. Прозрачная линия сверху и снизу */
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-bottom: 127px;
  position: relative;
  z-index: 1;

  margin-top: 120px;
  .md-block({ margin-top: -30px; });
  .sm-block({ margin-bottom: 70px; });
}

.service,
.escort,
.partner {
  //margin-bottom: 50px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  h2.head_step {
    font-size: 24px;
    margin-bottom: 29px;
    position: relative;
    .MBold;

    // .md-block({ font-size: 20px; });

    &::after {
      content: '';
      width: 96px;
      height: 16px;
      background: @red;
      position: absolute;
      top: -22px;
      left: 0;

      // .md-block({ height: 8px; top: -16px; });
    }
  }

  ul.wrap_cards {
    display: flex;
    justify-content: space-between;

    .md(display, block);

    li {
      display: inline-block;
      height: 204px;
      width: 272px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;

      &::after {
        content: '';

        //.md-block({ width: calc(100% + 32px); height: 1px; background: @grey_text; position: absolute; top: 52px; left: -16px; });
      }

      .lg-block({ height: 160px; width: 214px; min-width: 214px });
      .md-block({ display: block; margin: 20px 0 110px 0; overflow: visible; width: 288px; min-width: 214px; height: 170px; });

      //.md-block({ display: block; width: 100%; border-radius: 0; max-height: none; height: auto;});
      //.sm-block({ max-height: none; });

      a {
        position: relative;
        z-index: 1;
        transition: all 3s;
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;

        .md-block({ justify-content: inherit });

        .wrap_img {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: inline-block;

          .md-block({ width: 288px; border-radius: 20px; overflow: hidden; height: 204px; z-index: 3; });

          img {
            max-width: 100%;
            min-width: 100%;
          }
        }

        .header {
          background: rgba(0, 0, 0, 0.4);
          margin-top: auto;
          padding: 8px;
          line-height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          max-height: 100%;
          width: 100%;
          max-width: 100%;
          position: absolute;
          z-index: 100;
          transition: all 3s;

          .md-block({ margin-top: 189px; background: #191919; justify-content: flex-start; border-radius: 0 0 20px 20px; height: 65px; z-index: 2; });

          p {
            color: #fff;
            font-size: 14px;
            text-align: center;
            transition: all 3s;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .md-block({ padding-bottom: 10px; margin-top: 30px; });
          }
        }

        .angle_right_white {
          display: none;
          //color: @grey_text_bold !important;
        }
      }
    }
  }
}

.escort {
  margin-top: -29px;
}

.partner {
  margin-top: -29px;
  //.sm-block({ margin-bottom: 0;});
}

@keyframes ani100 {

  0% {
    height: 0;
    border-radius: 8px;
  }

  100% {
    height: 204px;
    border-radius: 8px;
  }
}

@keyframes ani_normal_condition {

  0% {
    height: 204px;
    border-radius: 8px;
  }

  100% {
    height: auto;
    border-radius: 0;
  }
}

ul.list_step {
  margin-top: 76px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;

  .sm-block({ margin-top: 41px; display: block; });

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #6D6E71;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;

    .md-block({ top: 25px; });
    .sm-block({ width: 1px; height: 100%; background: #6d6e71; position: absolute; top: 3px; left: 2px; });
  }

  li {
    text-align: center;
    position: relative;
    z-index: 3;
    max-width: 180px;
    margin-left: -44px;

    .md-block({ max-width: 100px; margin-left: 0; });
    .sm-block({ display: flex; margin-bottom: 60px; max-width: none; align-items: center; });

    img {
      width: 99px;
      height: 133px;
      display: inline-block;

      .md-block({ width: 58px; height: 86px; });
      .sm-block({ width: 74px; height: 108px; transform: rotate(-90deg); margin-left: -13px; margin-right: 30px; });
    }

    p {
      display: block;
      text-align: center;
      font-size: 16px;
      color: #fff;
      margin-top: 10px;

      .lg-block({ font-size: 14px; });

      .md-block({ font-size: 12px; });

      .sm-block({ font-size: 16px; margin-top: 0px; max-width: 176px; text-align: left; });
    }

    &:last-child {
      .sm-block({ margin-bottom: 0; });
    }
  }
}

.btn_submit_partner {
  background: @violet;
  border: none;
  outline: none;
  margin-right: 16px;
  border-radius: 5px;
  padding: 10px 15px;

  &:hover {
    background: #36409B;
  }
}

/* Новый вариант страницы Партнёрам */
/* Новый вариант страницы Партнёрам */
/* Новый вариант страницы Партнёрам */
/* Новый вариант страницы Партнёрам */
/* Новый вариант страницы Партнёрам */
.partner_page {
  margin-top: 180px;

  .md(margin-top, 90px);

  &__h1 {
    font-size: 32px;
    .MBold;
    color: #fff;
    margin-bottom: 40px;

    .sm(font-size, 18px);
  }

  &__first-p {
    margin-bottom: 40px;
    font-size: 16px;

    .span_fz_24px {
      font-size: 20px;
      .MBold;

      .sm-block({ font-size: 16px; .M; });
    }
  }
}

.form_partner {

  .data-partner {
    margin-bottom: 40px;

    &__h3 {
      font-size: 18px;
      .MBold;
      margin-bottom: 20px;
    }

    &__fio,
    &__phone,
    &__email,
    &__website,
    &__inn {
      width: 100%;
      max-width: 560px;
      height: 56px;
      max-height: 56px;
      margin-bottom: 20px;

      #data-partner__fio,
      #data-partner__phone,
      #data-partner__email,
      #data-partner__website,
      #data-partner__inn {
        width: 100%;
        height: 100%;
        max-height: 100%;
      }

      label[for="data-partner__fio"],
      label[for="data-partner__phone"],
      label[for="data-partner__email"],
      label[for="data-partner__website"],
      label[for="data-partner__inn"] {
        font-size: 16px;
        top: 16px;

        .sm(font-size, 14px);
      }
    }
  }
}

.red_star {
  color: @red;
  font-size: 14px;
  margin-bottom: 3px;
}

.questions {

  &__h3 {
    font-size: 18px;
    .MBold;
    margin-bottom: 20px;
  }
}

.location_city {
  display: inline-block;
  margin-top: 35px;
  width: 100%;
  max-width: 560px;
  height: 56px;
  max-height: 56px;
  margin-bottom: 20px;

  #location_city {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  label[for="location_city"] {
    font-size: 16px;
    top: 16px;

    .sm(font-size, 14px);

    .red_star {
      color: @red;
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
}

/* Вопросы чекбоксы */
.wrap_checkbox_question {
  margin-bottom: 20px;

  & > label {
    font-size: 16px;
    display: flex;
    align-items: center;

    input[type="radio"] {
      display: none;
    }

    input[type="checkbox"] {
      display: none;
    }

    /* Чек бокс НЕ отмеченный */
    .custom-checkbox_radio_quest {
      display: inline-block;
      border: 2px solid #7a7a7a;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      -webkit-transition: none;
      transition: none;
      margin-right: 18px;
    }

    /* Чек бокс отмеченный */
    input[type="radio"]:checked ~ .custom-checkbox_radio_quest {
      background: url(../img/check-done/onblack.svg) center center / cover no-repeat no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 0;
      border: none;
      transition: none;
    }

    input[type="checkbox"]:checked ~ .custom-checkbox_radio_quest {
      background: url(../img/check-done/onblack.svg) center center / cover no-repeat no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 0;
      border: none;
      transition: none;
    }

    span.checkbox-text {
      font-size: 14px;
    }
  }
}

.list_quest {
  font-size: 16px;
  margin-bottom: 24px;
}

.mb60 {
  margin-bottom: 60px;

  .sm(margin-bottom, 40px)
}

.wrap_gold_clip {
  margin-top: 17px;

  .sm(display, none);

  .head_gold_clip {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }

  .label_gold_clip {
    max-width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 14px;
    cursor: pointer;

    .gold_clip_icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(../img/gold_clip/gold_clip.svg) center center / cover no-repeat no-repeat;
      cursor: pointer;
    }

    .upload_file_text {
      margin-left: 16px;
      cursor: pointer;
    }

    #gold_clip_inp {
      display: inline-block;
      width: 150px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.hr_partner_new {
  display: none;
  height: 1px;
  background: #9E9E9E;
  margin-top: -5px;
  margin-bottom: 43px;

  .sm-block({ display: block; })
}

/* Список названий загружаемых файлов */
.name_files {
  margin-top: 16px;

  li {
    color: #7a7a7a;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.wrap_success {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .success {
    display: inline-block;
    color: #00EF0A;
    font-size: 20px;
    .M;

    .sm-block({ font-size: 14px; })
  }
}
