.partner_success_submit{
  color: @green_text;
  position: relative;
  margin: 44px 0 27px 62px;
  font-size: 20px;
  line-height: 24px;
  .sm-block({
    font-size: 14px;
    line-height: 18px;
    margin: 21px 0 -19px 59px;
  });
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -43px;
    top: -5px;
    width: 12px;
    height: 27px;
    border: solid @green_text;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    .sm-block({
      top: -11px;
      border-width: 0 3px 3px 0;
    });
  }
}
