// Шапка сайта для личного кабинета

.header-menuLK {
  padding: 0.1px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #000;
  max-height: 59px;
}

.wrap_first_line_LK {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;

  .wrap_phone_email {
    display: flex;

    .md-block({ width: 100%; justify-content: space-between; });

    // Блок с телефоном
    .block-phone {
      display: flex;
      align-items: center;
      margin-right: 35px;
      //margin-left: 180px;
      .md(display, none);

      &__icon-phone {
        display: inline-block;
        background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
        margin-right: 8px;
        margin-bottom: 3px;
        opacity: .7;
      }
      &__wrap-head-number {

        .block-phone__head {
          font-size: 14px;
          color: @grey_text_bold;
        }
        .block-phone__number {
          font-size: 14px;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }

    // Блок с email
    .block-email {
      display: flex;
      align-items: center;
      margin-right: 50px;

      .md(display, none);

      &__icon-email {
        display: inline-block;
        background: url(../img/mail/onblack.svg) center center/cover no-repeat no-repeat;
        height: 18px;
        width: 22px;
        min-width: 22px;
        margin-right: 8px;
        margin-bottom: 3px;
        opacity: .7;
      }

      &__wrap-head-email {
        display: inline-block;

        .block-email__head {
          font-size: 14px;
          color: @grey_text_bold;
        }
        .block-email__number {
          font-size: 14px;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  // Лого
  .logo {
    display: inline-block;
    width: 219px;
    height: 34px;

    .md-block({ height: 32px; min-width: 205px; });
    .sm-block({ display: none; });
  }
}

.wrap_link_home {
  display: flex;
  align-items: center;

  .md(display, none);

  .link_home_icon {
    display: inline-block;
    background: url(../img/arrow/onblack.svg) center center/cover no-repeat no-repeat;
    width: 22px;
    height: 27px;
    transform: rotate(180deg);
    margin-right: 16px;
  }
  .link_home {
    text-decoration: none;
    .MBold;
    color: @grey_text_bold;
  }
}

.wrap_data_user_line_LK {
  height: 103px;
  background: #1a1a1a;
  margin-top: 135px;

  .md-block({ height: 76px; margin-top: 56px; });
  .sm-block({ margin-top: 65px; background: none; });

  h1.wrap_data_user_head {
    .MBold;
    font-size: 20px;
    color: #fff;
    margin-top: 60px;

    .md-block({ margin-top: 30px; });
  }
}

// Вторая полоса шапки
.user_data_link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;

  .wrap_data_basket {
    display: flex;
    justify-content: space-between;

    .wrap_data_account {
      display: flex;
      align-items: center;
      text-decoration: none;

      .account_icon {
        display: inline-block;
        background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
        margin-right: 8px;
      }

      h2 {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
      }
    }

    .wrap_basket {
      display: flex;
      align-items: center;
      margin-left: 30px;

      .basket_icon {

        display: inline-block;
        background: url("../img/cart/onblack.svg") center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
        margin-right: 8px;

      }
      h2 {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}

// Табы и кнопка
.wrap_tab_btn_my {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .md-block({ overflow-x: scroll; margin-left: -16px; margin-right: -16px; padding-bottom: 30px; });
  .sm-block({ overflow-x: visible; margin-left: 0; margin-right: 0; padding-bottom: 0; margin-top: 0; });

  .wrap_tab {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .md-block({ width: 100%; min-width: 0; });
    .sm-block({ flex-direction: column; width: 100%; min-width: 0; });

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid @grey_text_bold;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      .sm(display, none);
    }

    h3 {
      font-size: 14px;
      color: #fff;
      padding: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:not(:last-child) {
        margin-right: 25px;

        .md-block({ margin-right: 0;})
      }

      a {
        text-decoration: none;
        //color: @grey_text_bold;

        .sm-block({ color: @grey_text_bold; });
      }

      .sm-block({ padding-left: 0; font-size: 16px; display: flex; justify-content: space-between; align-items: center; });

      &::before {
        content: '';
        display: none;
        width: 108%;
        height: 1px;
        border-bottom: 1px solid @grey_text;
        position: absolute;
        bottom: 0;
        left: -16px;
        right: -16px;
        z-index: -1;

        .sm-block({ display: inline-block; });
      }

      &::after {
        content: '';
        background: url(../img/down/onblack.svg) center center/cover no-repeat no-repeat;
        display: none;
        width: 16px;
        height: 24px;
        transform: rotate(-90deg);
        margin-right: -18px;

        .sm-block({ display: inline-block; });
      }
    }

    .active_tab {
      border-bottom: 4px solid @red;

      .sm-block({ border-bottom: 4px solid transparent; });
    }
  }

  #btn_upload_katalog {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    background: @violet;
    border-radius: 5px;

    .md(display, none);
  }
}

// Табы и кнопка Настя
.wrap_tab_btn {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .md-block({ overflow-x: scroll; margin-left: -16px; margin-right: -16px; padding-bottom: 30px; });
  .sm-block({ overflow-x: visible; margin-left: 0; margin-right: 0; padding-bottom: 0; margin-top: 0; });

  .wrap_tab {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .md-block({ width: 100%; min-width: 1023px; });
    .sm-block({ flex-direction: column; width: 100%; min-width: 0; });

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid @grey_text_bold;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      .sm(display, none);
    }

    h3 {
      font-size: 14px;
      color: #fff;
      padding: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:not(:last-child) {
        margin-right: 25px;

        .md-block({ margin-right: 0;})
      }

      a {
        text-decoration: none;
        //color: @grey_text_bold;
      }

      .sm-block({ padding-left: 0; font-size: 16px; display: flex; justify-content: space-between; align-items: center; });

      &::before {
        content: '';
        display: none;
        width: 108%;
        height: 1px;
        border-bottom: 1px solid @grey_text;
        position: absolute;
        bottom: 0;
        left: -16px;
        right: -16px;
        z-index: -1;

        .sm-block({ display: inline-block; });
      }

      &::after {
        content: '';
        background: url(../img/down/onblack.svg) center center/cover no-repeat no-repeat;
        display: none;
        width: 16px;
        height: 24px;
        transform: rotate(-90deg);
        margin-right: -18px;

        .sm-block({ display: inline-block; });
      }
    }

    .active_tab {
      border-bottom: 4px solid @red;

      .sm-block({ border-bottom: 4px solid transparent; });
    }
  }

  #btn_upload_katalog {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    background: @violet;
    border-radius: 5px;

    .md(display, none);
  }
}

.wrap_select_search {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .md-block({ margin-top: 0px; });
  .sm(display, none);

  .wrap_select {
    display: flex;

    #materials {
      background: @inp_bg;
      padding: 16px 0 16px 16px;
      border: none;
      outline: none;
      font-size: 16px;
      //width: calc(100% + 35px);
      max-width: 288px;
      width: 288px;

      appearance: none;

      &:active, &:focus {
        background: @inp_bg;
        color: #fff;
        border: none;
        outline: none;
      }

      option {
        background: @inp_bg;
        color: #fff;
        border: none;
        outline: none;
        height: 50px;
        min-height: 150px;

        &:active, &:focus {
          background: @inp_bg;
          color: #fff;
          border: none;
          outline: none;
        }
      }
    }
  }

  .wrap_search {
    border-bottom: 1px solid #414141;
    display: flex;
    align-items: center;
    margin-left: 83px;

    .lg(margin-left, -5px);
    .md(display, none);

    .icon_search {
      display: inline-block;
      background: url(../img/search/onblack.svg) center center/cover no-repeat no-repeat;
      width: 24px;
      height: 24px;
      opacity: .69;
    }

    .input_search {
      padding-bottom: 7px;
      background: @bg;
      border: none;
      outline: none;
      font-size: 14px;
    }
  }
}

.wrap_download_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -46px;

  .md-block({ margin-left: auto; margin-right: 20px; });

  &__header {
    display: inline-block;
    font-size: 13px;
    color: @grey_text;
    margin-right: 15px;
  }

  .icon_download {
    display: inline-block;
    background: url(../img/download/onblack.svg) center center/cover no-repeat no-repeat;
    width: 24px;
    height: 24px;
  }
}

.wrap_download_selected {
  &__header {
    display: inline-block;
    font-size: 13px;
    color: @grey_text;
    margin-right: 15px;
  }

  .download_selected__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .hidden {
      display: none;

      &:checked ~ .custom_checkbox {
        background: url(../img/check-done/onblack.svg) center center/cover no-repeat no-repeat;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 0;
        border: none;
        transition: none;
      }
    }

    .custom_checkbox {
      background: url(../img/checkbox/onblack.svg) center center/cover no-repeat no-repeat;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 0;
      border: none;
      transition: none;
    }
  }
}

.list_result {
  display: block;
  margin: 50px 0 0 0;

  .sm(display, none);

  li {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;

  }
}

.wrap_icon_description {
  display: flex;
  align-items: center;

  .icon_file {
    display: inline-block;
    margin-right: 20px;
  }

  .wrap_description {
    .description_name {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .description_data {
      font-size: 14px;
      color: @grey_text_bold;
    }
  }
}

.functional_right {
  display: flex;
  align-items: center;

  & > a {
    margin-right: 35px;
  }
}

#section_not_twice_scroll {
  overflow: hidden;
}

// Шапка для личного кабинета
.wrap_mob_LK {
  display: none;
  justify-content: space-between;
  width: 65px;
  align-items: center;

  .md(display, flex);

  .sm-block({ align-items: center; width: 100%; });

  .wrap-userinfo_card {
    display: flex;
    justify-content: space-between;

    .md(display, none);

    .sm-block({ display: flex; width: 120px; });

    .block-userinfo {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__icon {
        display: inline-block;
        background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
      }
      &__head {
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
      }
    }
    .block-card {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__icon {
        display: inline-block;
        background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
        height: 24px;
        width: 24px;
        min-width: 24px;
      }
      &__head {
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

  .mobile768_lk {
    display: none;
    width: 27px;
    height: 27px;

    &::after {
      content: '';
      display: none;
      background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
      width: 27px;
      height: 27px;

      .md(display, inline-block);
      .sm(display, none);
    }

    .md(display, inline-block);
    .sm(display, none);
  }

  .sandwich {
    display: none;
    width: 27px;
    height: 26px;

    &::after {
      content: '';
      display: none;
      background: url(../img/menu/onblack.svg) center center/cover no-repeat no-repeat;
      width: 27px;
      height: 22px;
      //margin-left: -7px;

      .md(display, inline-block);
    }

    .md(display, inline-block);
  }

  #sandwich {
    &::after {
      content: '';
      display: none;
      background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
      width: 19px;
      height: 27px;

      .md(display, inline-block);
    }
  }
}

.second-line_LK {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  position: relative;
  z-index: 10;

  .md-block({ display: none; });

  li {
    display: inline-block;
    margin-bottom: 25px;

    a {
      text-decoration: none;
      font-size: 16px;
      color: @grey_text_bold;
    }
  }

  // Активный пункт меню
  .active {
    a {
      .MBold;
      color: #ffffff;
    }
  }
}

.wrap_scroll_for_md {
  .md-block({ height: 84px; max-height: 84px; overflow: hidden; margin-left: -30px; margin-right: -16px; padding-left: 30px; padding-right: 16px; });
  .sm-block({ height: auto; max-height: none; overflow: visible; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; });
}







// my
.wrap_data_basket {
  display: flex;
  justify-content: space-between;

  .wrap_data_account {
    display: flex;
    align-items: center;
    text-decoration: none;

    .sm-block({ flex-direction: column; });

    .data_account_icon {
      display: inline-block;
      background: url("../img/user info/onblack.svg") center center/cover no-repeat no-repeat;
      height: 24px;
      width: 24px;
      min-width: 24px;
      margin-right: 8px;

      .sm-block({ margin-right: 0; });
    }

    h2 {
      font-size: 16px;
      color: #fff;

      .sm-block({ flex-direction: column; font-size: 12px; margin: 2px auto 0; });
    }
  }

.wrap_data_account.active{
    display: none;
    .sm-block({
      display: flex;
    });
    .data_account_icon{
      height: 32px;
      width: 32px;
    }
    h2{
      color: #E0AA5A;
    }
}

  
  .wrap_private_office {
    display: flex;
    align-items: center;
    text-decoration: none;

    .sm-block({ flex-direction: column; margin-right: 25px;});

    .private_office_icon {
      display: inline-block;
      background: url("../img/user/onblack.svg") center center/cover no-repeat no-repeat;
      height: 24px;
      width: 24px;
      min-width: 24px;
      margin-right: 8px;

      .sm-block({ margin-right: 0; });
    }

    h2 {
      font-size: 16px;
      color: #fff;

      .sm-block({ flex-direction: column; font-size: 12px; margin: 2px auto 0; });
    }
  }
  .wrap_private_office.active{
    display: none;
    .sm-block({
      display: flex;
    });
    .private_office_icon{
      height: 32px;
      width: 32px;
    }
    h2{
      color: #E0AA5A;
    }
  }
 // my








  .wrap_basket {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .sm-block({ flex-direction: column; });

    .basket_icon {
      display: inline-block;
      background: url("../img/cart/onblack.svg") center center/cover no-repeat no-repeat;
      height: 24px;
      width: 24px;
      min-width: 24px;
      margin-right: 8px;

      .sm-block({ margin-right: 0; });

    }
    h2 {
      font-size: 16px;
      color: #fff;

      .sm-block({ flex-direction: column; font-size: 12px; margin: 2px auto 0; });
    }
  }
}





//my
.wrap_mob_LK .wrap_data_basket {
    align-items: flex-end;
    margin-top: -8px;
}
//my







section.wrapper {
  position: relative;
  z-index: 1;

  .bg_LK {
    display: none;
    background: url(../img/background_image.png) center center/cover no-repeat no-repeat;
    position: absolute;
    right: -305px;
    top: 136px;
    z-index: -100;
    width: 874px;
    height: 1428px;
    opacity: .7;

    .md-block({ display: inline-block; right: -132px; top: -75px; z-index: -100; width: 678px; height: 965px; });

    .sm-block({ top: -61px; display: none; });

    .xs-block({ display: none; right: -118px; top: -60px; z-index: -100; width: 350px; height: 580px; });
  }
}

/* Стили по переходу на выгрузку каталога */
.list_result_UC {
  display: none;
  margin: 50px 0 0 0;

  .sm(display, none);

  li {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;

  }
}

.wrap_download_all_UC {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .md-block({ margin-left: auto; margin-right: 20px; });

  &__header {
    display: inline-block;
    font-size: 13px;
    color: @grey_text;
    margin-right: 15px;
  }

  .icon_download {
    display: inline-block;
    background: url(../img/download/onblack.svg) center center/cover no-repeat no-repeat;
    width: 24px;
    height: 24px;
  }
}

.functional_right_UC {
  display: flex;
  align-items: center;

  & > a {
    margin-right: 0;
  }
}

/* Прайс листы */
.list_result_PL {
  display: none;
  margin: 40px 0 0 0;

  li {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 108%;
      height: 1px;
      border-bottom: 1px solid @grey_text;
      position: absolute;
      bottom: 0;
      left: -16px;
      right: -16px;
      z-index: 0;
    }

    //border-bottom: 1px solid @grey_text;
  }
}

.wrap_icon_description_PL {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;

  .icon_file {
    display: inline-block;
    margin-right: 20px;
  }

  .wrap_description_PL {
    .description_name {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .description_data {
      font-size: 14px;
      color: @grey_text_bold;
    }
  }
}

.wrap_description_PL {
  width: 100%;
  display: block;

  .description_name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .description_data {
    font-size: 14px;
    color: @grey_text_bold;
  }
}

.wrap_icon_download {
  display: flex;
  align-items: center;
}

.icon_download_PL {
  display: inline-block;
  background: url(../img/download/onblack.svg) center center/cover no-repeat no-repeat;
  width: 24px;
  height: 24px;
  opacity: .5;
}

.wrap_btn_PL {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    height: 46px;
    width: 49%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;

    .icon_btn_downLoad_all {
      min-width: 20px;
      min-height: 20px;
      width: 22px;
      height: 20px;
      display: inline-block;
      background: url(../img/download/onblack.svg) center center / cover no-repeat no-repeat;
      margin-right: 15px;
    }

    .icon_btn_download_select {
      display: inline-block;
      border: 2px solid #dadada;
      border-radius: 3px;
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }

    span {
      text-align: left;
      font-size: 13px;
    }
  }
}

.wrap_btn_MS {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    height: 46px;
    width: 49%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;

    .icon_btn_downLoad_all {
      min-width: 20px;
      min-height: 20px;
      width: 22px;
      height: 20px;
      display: inline-block;
      background: url(../img/download/onblack.svg) center center / cover no-repeat no-repeat;
      margin-right: 15px;
    }

    .icon_btn_download_select {
      display: inline-block;
      border: 2px solid #dadada;
      border-radius: 3px;
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }

    span {
      text-align: left;
      font-size: 13px;
    }
  }
}

// Маркетинговая поддержка
.marketing_support {
  margin-bottom: 50px;
  display: none;
}

.wrap_scroll_for_md_MS {
  display: none;
  .sm-block({ margin-top: 70px; display: block; height: 84px; max-height: 84px; overflow: hidden; margin-left: -30px; margin-right: -16px; padding-left: 30px; padding-right: 16px; });
}

.list_result_MS {
  display: none;
  margin: 50px 0 0 0;

  li {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 108%;
      height: 1px;
      border-bottom: 1px solid @grey_text;
      position: absolute;
      bottom: 0;
      left: -16px;
      right: -16px;
      z-index: 0;
    }
    //border-bottom: 1px solid @grey_text;
  }
}

.wrap_tab_btn_MS {
  margin-top: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;

  .md-block({ overflow-x: scroll; margin-left: -16px; margin-right: -16px; padding-bottom: 30px; });
  .sm-block({ display: flex; margin-left: 0; margin-right: 0; padding-bottom: 0; margin-top: 0; });

  .wrap_tab_MS {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .md-block({ width: 100%; min-width: 1023px; padding-left: 15px; });
    .sm-block({ min-width: 720px; });

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid @grey_text_bold;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    h3 {
      font-size: 14px;
      color: #fff;
      padding: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      a {
        text-decoration: none;
        color: @grey_text_bold;
        font-size: 13px;
        text-align: center;
      }

      .sm-block({ padding-left: 0; font-size: 16px; display: flex; justify-content: space-between; align-items: center; });
    }

    .active_tab {
      border-bottom: 4px solid @red;

      //.sm-block({border-bottom: 4px solid transparent;});
    }
  }

  #btn_upload_katalog {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    background: @violet;
    border-radius: 5px;

    .md(display, none);
  }
}

// Стрелка вернуться в меню
#return_to_menu {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  background: url(../img/arrow/onblack.svg) center center / cover no-repeat no-repeat;
  display: none;
  transform: rotate(-180deg);
}

// Скрываю какой-то элемент хрен пойми от куда он там взялся
.mobile768 {
  .sm(display,none);
}