#section_not_twice_scroll{

  .wrap_tab_btn{

    .md-block({
      position: absolute;
      top: 108px;
      right: 0;
      left: 0;
    });
  }
  .stock{
    margin-top: 22px;

    .md-block({
      margin-top: 0px;
    });

    .grey_block{
      background: #C4C4C4;
      width: 100%;
      height: 335px;

      .md-block({
        height: 265px;
        width: 100vw;
        margin-left: -16px;
      });



      .sm-block({
        height: 166px;
      });
    }
  }
}

