.policy_content{
	margin-top: 134px;
	padding-bottom: 127px;

	.md-block({
		margin-top: 68px;
	});

	h1{
		.MBold; 
		font-size: 32px; 
		line-height: 32px; 
		padding-top: 39px; 
		padding-bottom: 56px;
		.lg-block({
			padding-bottom: 24px;
		});
		.md-block({
			padding-top: 14px;
			padding-bottom: 16px;
			font-size: 18px;
			line-height: 24px;
		});
		
	}
	p{
		font-size: 16px; 
		line-height: 20px;
		.md-block({
			font-size: 14px;
			line-height: 18px;
		});
	}
}