.back_g2 {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .65);
  z-index: 200;

  .sm-block({
    background: transparent;
  });

  .wrap_popup {
    margin: 100px auto 0;
    width: 560px;
    overflow: hidden;

    .sm-block({ 
      width: 100%; 
      height: 100vh; 
      margin: 0; 
      margin-top: 55px;
    });

    .head {
      height: 80px;
      display: flex;
      align-items: center;
      background: @grey_back;
      overflow: hidden;
      padding-left: 32px;

      .sm-block({
        background: @grey_back2; 
        height: 59px; 
        padding-left: 19px; 
        padding-top: 23px;
      });

      .h1 {
        font-size: 20px;
        margin-bottom: 17px;
        margin-top: auto;
        .MBold;
      }

      .close_popup {
        display: flex;
        align-items: center;
        margin: auto 30px 17px auto;

        .sm-block({
          position: absolute;
          top: 13px;
          right: 18px;
          width: 25px;
          height: 25px;
          margin: 0;
        });

        &__text {
          font-size: 16px;
          color: @grey_text_bold;
          margin-right: 7px;

          .sm-block({
            display: none;
          });
        }

        &__icon {
          display: inline-block;
          background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
          width: 25px;
          height: 25px;
        }
        .sm-block({
          background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat black;
        });
      }
    }

    .body_popup {
      background: @grey_back2;
      overflow: hidden;
      padding-left: 95px;
      padding-right: 95px;
      padding-top: 42px;
      width: 100%;

      .sm-block({
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20px;
        padding-bottom: 51px;
      });

      .signin_input{
        margin-bottom: 16px;
        position: relative;

        input {
          width: 368px;
          height: 56px;
          line-height: 56px;
          background: @inp_bg;
          border: none !important;
          outline: none !important;
          border-radius: 0 !important;
          text-indent: 17px;

          .sm-block({ 
            width: 100%;

          });
        }

        label{
          position: absolute !important;
          top: 20px;
        }
      }

      .forgot{
        text-decoration: none;
        margin-top: 24px;
        display: block;
        margin-left: 3px;
      }

      .signin_button{
        background: @grey_back;
        border-radius: 5px;
        text-align: center;
        color: @grey_text;
        font-size: 16px;
        line-height: 20px;
        width: 181px;
        padding: 14px 0;
        border: none;
        outline: none;
        margin: 32px auto;
        display: block;

        .sm-block({
          margin: 41px auto;
        });
      }


      .signin_button.active{
        background: @violet;
        color: @white;
      }

      .registration{  
        margin: 0 auto; 
        margin-bottom: 33px;
        display: block;
        width: fit-content;

        a{
          color: @gold;
        }
      }
      .registration.desc{.sm(display,none);}
      .registration.mob{display: none; .sm(display,block);}

    }
  }
}


















