.back_g3 {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .65);
  z-index: 200;

  .sm-block({
    background: transparent;
  });

  .wrap_popup {
    margin: 100px auto 0;
    width: 944px;
    overflow: hidden;

    .lg-block({
      width: 770px;
    });

    .md-block({
      width: 610px;
    });

    .sm-block({ 
      width: 100%; 
      height: 100vh; 
      margin: 0; 
      margin-top: 55px;
    });

    .head {
      height: 80px;
      display: flex;
      align-items: center;
      background: @grey_back;
      overflow: hidden;
      padding-left: 95px;
      padding-right: 95px;
      
      .lg-block({
        padding-left: 80px;
        padding-right: 78px;
      });

      .md-block({
        padding-left: 40px;
        padding-right: 23px;
      });

      .sm-block({
        background: @inp_bg; 
        height: 47px;
        padding-left: 14px;
        padding-top: 10px;
      });

      .h1 {
        font-size: 20px;
        margin-bottom: 17px;
        margin-top: auto;
        .MBold;

        .sm-block({
          font-size: 18px;
          margin-top: 7px;
        });
      }

      .close_popup {
        display: flex;
        align-items: center;
        margin: auto 0px 17px auto;

        .sm-block({
          position: absolute;
          top: 13px;
          right: 18px;
          width: 25px;
          height: 25px;
          margin: 0;
        });

        &__text {
          font-size: 16px;
          color: @grey_text_bold;
          margin-right: 7px;

          .sm-block({
            display: none;
          });
        }

        &__icon {
          display: inline-block;
          background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
          width: 25px;
          height: 25px;
        }
        .sm-block({
          background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat black;
        });
      }
    }

    .body_popup {
      background: @grey_back2;
      overflow: hidden;
      padding-left: 95px;
      padding-right: 95px;
      padding-top: 77px;
      width: 100%;
      height: 100%;

      .lg-block({
        padding-left: 80px;
        padding-right: 78px;
        padding-top: 82px;
      });

      .md-block({
        padding-left: 97px;
        padding-right: 97px;
        padding-top: 36px;
      });

      .sm-block({
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20px;
        padding-bottom: 51px;
      });

      .product{
        display: flex;
        min-height: 132px;
        min-width: 752px;
        margin-bottom: 40px;
        position: relative;

        .lg-block({ margin-bottom: 35px; min-width: 608px; });
        .md-block({ min-width: 440px; margin-bottom: 8px; padding-bottom: 18px; });
        .sm-block({ min-width: 0; flex-wrap: wrap; });

        .description__name-mobile {
          display: none;
          text-decoration: none;
          font-size: 16px;
          color: #fff;
          .M;
          line-height: 24px;
          margin-bottom: 10px;
          text-align: left;
          .md-block({ max-width: 387px; overflow: hidden; });

          .sm-block({ display: block; font-size: 14px; width: 100%; min-width: 100%; });
        }
        .wrap_img {
          width: 152px;
          height: 133px;
          border-radius: 5px;
          overflow: hidden;
          margin-right: 16px;

          .md-block({ width: 69px; height: 68px; margin-top: 60px; });
          .sm-block({ width: 80px; height: 70px; min-width: 80px; min-height: 70px; margin-top: 0; });

          img {
            width: 152px;
            height: 133px;
            border-radius: 5px;

            .md-block({ width: 69px; height: 68px; });
            .sm-block({ width: 100%; });
          }
        }

        .description {
          max-width: 419px;

          .sm-block({ max-width: none; });
          .mob_hide {
            color: @grey_text_bold;
            font-size: 14px;
            .md(display, none);
          }
          &__name {
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            .M;
            line-height: 24px;
            margin-bottom: 7px;
            text-align: left;

            .md-block({ margin-left: -83px; max-width: 387px; margin-bottom: 2px; overflow: hidden; });
            .sm-block({ max-width: none; margin-left: -74px; display: none; });
          }

          &__code {
            font-size: 14px;
            color: @grey_text_bold;
            line-height: 16px;
            margin-bottom: 10px;

            .md-block({ margin-bottom: 13px; font-size: 12px; margin-left: 10px; });
            .sm-block({ font-size: 10px; display: none; });

            span {
              .md-block({ font-size: 12px; });
            }
          }

          &__color {
            font-size: 14px;
            color: @grey_text_bold;
            line-height: 16px;
            margin-bottom: 10px;
            .md-block({ margin-bottom: 17px; margin-left: 10px; });
            .sm(display, none);
          }

         
        }

        .price_block {
          width: 155px;
          text-align: right;

          .lg-block({ margin-left: -134px; });
          .md-block({ margin-left: -134px; margin-top: auto; });
          .sm-block({ margin-left: auto; width: auto; margin-top: 0;});
          .id_product {
            display: none;
            font-size: 14px;
            color: @grey_text;
            line-height: 16px;
            margin-top: auto;
            .sm-block({ display: block; font-size: 10px; });
          }
          &__form {
            padding-top: 52px;
            width: 75px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 86px;

            .md-block({ width: 105px; padding-top: 52px; margin-left: 59px;});
            .sm-block({ padding-top: 9px; });

            .minus,
            .plus {
              display: inline-block;
              height: 23px;
              width: 23px;
              background: #191919;
              border-radius: 5px;
              text-align: center;
              text-decoration: none;
              line-height: 23px;
              font-size: 30px;
              margin: 0;
              padding: 0;

              .md-block({ width: 40px; height: 40px; line-height: 40px; });
            }

            .form_inp {
              display: inline-block;
              background: transparent;
              border: none;
              outline: none;
              width: 29px;
              text-align: center;
              margin: 0;
              padding: 0;
              .MBold;

              .md-block({
                width: 0px;
              });
            }
          }

          .price {
            //display: block;
            text-align: right;
            margin-top: 0px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 48px;

            .md-block({ margin-top: 6px; height: 46px; });
            .sm-block({ margin-top: 18px; display: flex; align-items: flex-end; justify-content: flex-end; height: auto; flex-direction: row; });

            .price__before {
              display: inline-block;
              font-size: 14px;
              color: @grey_text_bold;
              overflow: hidden;
              position: relative;

              .sm-block({ order: 2; margin-left: 7px; margin-bottom: 1px; });

              &::before {
                content: '';
                height: 1px;
                width: 100%;
                background: lightseagreen;
                position: absolute;
                top: 50%;
                opacity: .5;
              }
            }

            .price__after {
              display: inline-block;
              .MBold;
              font-size: 24px;
              line-height: 28px;
              color: #fff;
              margin-top: 0;

              .md-block({ font-size: 20px; });
              .sm-block({ order: 1; line-height: 24px; });
            }
          }
        }
      }

      .goto_basket{
        background: @violet;
        color: @white;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        width: 195px;
        padding: 14px 0;
        border: none;
        outline: none;
        margin: 32px auto;
        display: block;
        margin: 0 0 54px 0;
        text-decoration: none;

        .lg-block({
          margin-bottom: 23px;
        });

        .md-block({
          margin-bottom: 50px;
        });

        .sm-block({
          margin: 12px auto;
          width: 100%;
        });
      }
    }
  }
}


















