.back_g {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .65);
  z-index: 200;

  .wrap_popup {
    margin: 100px auto 0;
    width: 60%;
    max-width: 752px;
    overflow: hidden;

    .lg-block({ max-width: 610px; });
    .md-block({ width: 610px; });
    .sm-block({ max-width: none; width: 100%; height: 100vh; margin: 0; background: #262626; });

    .head {
      height: 80px;
      display: flex;
      align-items: center;
      background: #323232;
      overflow: hidden;
      padding-left: 96px;

      .lg-block({ padding-left: 20px; });
      .sm-block({ background: transparent; height: 59px; });
    }

    .body_popup {
      background: #262626;
      overflow: hidden;
      padding-left: 96px;
      width: 752px;

      .lg-block({ padding-left: 20px; width: 610px; });
      .md-block({ padding-left: 10px; width: 100%; });
      //.md-block({ });

      .popup_call_site {
        display: none;
        text-align: center;
        font-size: 18px;
        .MBold;
        margin: 28px auto;
        text-decoration: none;
        transform: translateX(-20px);

        .md-block({ display: block; });
      }

      .popup_call_myself {
        display: none;
        width: 181px;
        height: 48px;
        line-height: 48px;
        background: @violet;
        text-decoration: none;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        margin: 24px auto;
        transform: translateX(-20px);

        .md-block({ display: block; })
      }

      .show_mob {
        display: none;

        .sm-block({ display: block; })
      }

      p.min_30 {
        margin-top: 35px;
        font-size: 16px;
        margin-bottom: 35px;
        line-height: 24px;
        color: @grey_text_bold;

        .md(display, none);
      }

      label {
        position: relative;

        .label_span {
          font-size: 16px;
          color: @grey_text;
          position: absolute;
          top: 1px;
          left: 17px;

          .plus7 {
            color: #fff;
          }
        }

        &:active ~ span,
        &:focus ~ span {
          display: none;
        }

        #phone {
          width: 560px;
          height: 56px;
          line-height: 56px;
          background: @inp_bg;
          border: none !important;
          outline: none !important;
          border-radius: 0 !important;
          text-indent: 17px;

          .md-block({ width: 96%; })
        }
      }

      .wrap_btn_policy {
        display: flex;
        align-items: center;

        .sm-block({ flex-wrap: wrap; });

        input[type="submit"] {
          margin-top: 35px;
          margin-bottom: 35px;
          height: 48px;
          width: 181px;
          min-width: 181px;
          line-height: 48px;
          text-align: center;
          background: @violet;
          border: none !important;
          outline: none !important;
          border-radius: 6px !important;
          margin-right: 15px;

          .md-block({ border: 2px solid @violet !important; background: transparent; font-size: 16px; line-height: 44px; });
          .sm-block({ width: 96%; margin-bottom: 0; });
        }

        .policy {
          font-size: 12px;
          line-height: 16px;
          color: @grey_text;
          margin-top: 0;
          margin-bottom: 0;

          .sm-block({ display: block; margin-top: 20px; });
        }
      }

    }
  }
}

h4.show_lg {
  font-size: 20px;
  margin-bottom: 19px;
  margin-top: auto;
  .MBold;

  .md(display, none);
}

h4.show_md {
  font-size: 20px;
  margin-bottom: 19px;
  margin-top: auto;
  .MBold;

  .md(display, block);
}

.body_popup__show_md {
  font-size: 18px;
  margin-bottom: 19px;
  margin-top: 48px;
  .MBold;

  .md(display, block);
}

.close_popup {
  display: flex;
  align-items: center;
  margin: auto 30px 19px auto;

  .sm(display, none);

  &__text {
    font-size: 16px;
    color: @grey_text_bold;
    margin-right: 10px;
  }

  &__icon {
    display: inline-block;
    background: url(../img/close/onblack.svg) center center/cover no-repeat no-repeat;
    width: 25px;
    height: 25px;
  }
}

.wrap_mob_head {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: #000;
  width: 100%;
  height: 56px;
  line-height: 56px;

  .sm-block({ display: flex; padding-left: 16px; padding-right: 16px; });

  .logo_popup {
    height: 45px;
    width: 137px;
  }
}

.call_back_user_name {
  margin-bottom: 8px;
  position: relative;

  input {
    width: 368px;
    height: 56px;
    line-height: 56px;
    background: @inp_bg;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    text-indent: 17px;

    .lg-block({ width: 97%; max-width: 97%;});
  }

  label[for="call_back_user_name"] {
    position: absolute !important;
    top: 20px;
  }
}

.call_back_user_phone {
  margin-bottom: 8px;
  position: relative;

  input {
    width: 368px;
    height: 56px;
    line-height: 56px;
    background: @inp_bg;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    text-indent: 17px;

    .lg-block({ width: 97%; max-width: 97%;});
  }

  label[for="phone"] {
    position: absolute !important;
    top: 20px;
  }
}

.call_back_after {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  &__input {
    height: 31px;
    width: 38px;
    padding: 4px 9px;
    background: @inp_bg;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    border: none;
    outline: none;
    text-align: center;

    .md-block({ width: 48px; height: 48px; margin-left: 8px; margin-right: 8px; });
  }
}