.price_list {

  .price_list__h1 {
    font-size: 24px;
    .MBold();
    color: #fff;
    margin-top: 40px;
    margin-bottom: 32px;

    .md-block({ font-size: 20px; });
    .sm-block({ font-size: 18px; });
  }

  .price_list__h2 {
    font-size: 24px;
    .MBold;
    color: #bcbcbc;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.wrap_table {
  max-width: 100%;
  //overflow: auto;
  border-radius: 4px;
  display: block;
  width: 91%;
  overflow-x: auto;
  /*position: fixed;*/
  /*top: 0;*/
  margin-right: 15px;

  .md-block({ border-radius: 0; });

  &::-webkit-scrollbar { /* 1 - скроллбар */
    width: 16px;
    height: 16px;
  }
  &::-webkit-scrollbar-button { /* 2 - кнопка */
    //height: 16px;
  }
  &::-webkit-scrollbar-track { /* 3 - трек */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background: #848484;
  }
  &::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
    //height: 16px;
    width: 16px;
    height: 16px;
  }
  &::-webkit-scrollbar-thumb { /* 5 - ползунок */
    background-color: #ffffff;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner { /* 6 - уголок */
    //height: 16px;
  }
  &::-webkit-resizer { /* 7 - изменение размеров */
    //height: 16px;
  }

  .table {

  }
}

#tr_head {
  &::-webkit-scrollbar { /* 1 - скроллбар */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-scrollbar-button { /* 2 - кнопка */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-scrollbar-track { /* 3 - трек */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb { /* 5 - ползунок */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-scrollbar-corner { /* 6 - уголок */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
  &::-webkit-resizer { /* 7 - изменение размеров */
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    color: transparent;
  }
}

tbody {
  border-radius: 0 !important;

  tr {
    border-radius: 0 !important;

    th {
      border-radius: 0 !important;

      .table__img {
        width: 137px;
        height: 119px;
        max-width: 137px;
        max-height: 119px;
        border-radius: 0 !important;

        .md-block({ width: 70px; height: 58px; max-width: 70px; max-height: 58px; });
      }
    }
  }
}

tbody {
  background: #262626;
}

.td_for_p {
  max-width: 300px !important;
  min-width: 300px !important;
  padding-bottom: 0 !important;
  text-align: left;

  .md-block({ max-width: 120px !important; min-width: 120px !important; padding-bottom: 0 !important; text-align: left; });

  p {
    font-size: 14px;
    text-align: left;

    .md-block({ font-size: 12px; });
  }
}

.table-dark th,
.table-dark td {
  border-bottom: 1px solid #A68C8C;
  border-radius: 0;
  vertical-align: middle;
}

td, th {
  text-align: center;
  vertical-align: middle !important;
  border-top: none !important;

  .md-block({ padding: 3px 5px !important; });
}

.table-dark thead th {
  border-bottom: 1px solid transparent;
}

.table-dark thead th[scope="col"] {
  border-right: 1px solid #000;
}

th[scope="col"] {
  text-align: center;
  vertical-align: middle;
}

th[scope="row"] {
  padding: 0 !important;
  border-radius: 0;
  vertical-align: middle;
}

.table__price {
  white-space: nowrap;
  text-align: center;
  color: #bcbcbc;
}

.product_name_for_desktop {
  max-width: 140px;
  min-width: 140px;

  .md-block({ display: none; max-width: 188px; });
}

.product_name_for_tablet {
  display: none;
  color: @gold;
  background: #1c1c1c;
  padding: 10px;
  font-size: 12px;
  max-width: 70px;
  white-space: normal;
  word-wrap: break-word;

  .md-block({ display: inline-block; });
}

.min_width217 {
  min-width: 217px;
}

.bg3f3f3f {
  background: #3f3f3f;
  font-size: 14px;
  .MBold;
}

thead.table_hide_thead,
.table_hide_tr,
.th_hide {
  opacity: 0 !important;
  height: 0 !important;
  visibility: collapse;
  border: 1px solid transparent !important;
}

.hide_for_tablet_product_name {
  .md-block({ display: none; });
}

#full_width {
  //display: none;
  margin-top: 50px;
  margin-bottom: 60px;

/*  position: fixed;
  bottom: 0;
  top: 35px;
  margin: 0 auto;
  transform: translateX(calc(50% - 130px));*/

  .md-block({ margin-top: 85px; });
}

.min_width137 {
  min-width: 137px;
  max-width: 137px;
}

.min_width140 {
  min-width: 140px;
  max-width: 140px;
}

.min_width300 {
  min-width: 300px;
  max-width: 300px;
}

.min_width110 {
  min-width: 110px;
  max-width: 110px;
}

#t_head {
  overflow: hidden;
  height: 68px;
  max-height: 68px;
}

#tr_head {
  overflow-x: hidden;
  max-width: 1030px;
}
