.signup{
	height: 548px;
	margin-top: 128px;
	position: relative;

	.lg-block({
		height: 538px;
	});

	.md-block({
		height: 616px;
		margin-top: 55px;
	});

	.sm-block({
		height: 584px;
	});

	.bg{
		background: url("../img/background_image.png") no-repeat 64% 3%;
		position: absolute;
		z-index: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 30%;
		display: none;

		.md-block({
			display: block;
			background: url("../img/background_image.png") no-repeat 116% -35%;
			background-size: 62%;
		});

		.sm-block({
			display: none;
		});
	}

	.wrapper{

		padding-top: 32px;

		.md-block({
			padding-top: 2px;
		});

		*{
			z-index: 1;
		}

		.breadcrumbs{
			display: none;
			margin-top: 0;
			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
			padding-top: 10px;
			padding-bottom: 14px;

			.md-block({
				display: block;
				margin-bottom: 19px;
			});

			li:not(:last-child){
				a{
					text-decoration: none;
					border-bottom: 1px solid #BCBCBC;
					height: 15px;
					display: inline-block;
				}
			}
		}



		h1{
			font-size: 20px;
			line-height: 24px;
			.MBold;
			margin-bottom: 32px;
			padding: 0 0 0 2px;

			.md-block({
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 40px;
			});

			.sm-block({
				margin-bottom: 30px;
			});
		}

		form {

			.contacts_input{
				margin-bottom: 18px;
				position: relative;
				width: 368px;

				.sm-block({
					margin-bottom: 16px;
					width: 100%;
				});

				input {
					width: 100%;
					height: 56px;
					line-height: 56px;
					background: @inp_bg;
					border: none !important;
					outline: none !important;
					border-radius: 0 !important;
					text-indent: 17px;

					.sm-block({

					});
				}

				label{
					position: absolute !important;
					top: 20px;
				}
			}
			#togglePassword{
				display: none;
			}
			label[for="togglePassword"]{
				top: 18px;
				right: 10px;

				&::before{
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: url("../img/eye-off/onblack.svg");
					position: absolute;
					right: 0;
				}
			}
			label[for="togglePassword"].checked{

				&::before{
					background: url("../img/eye/onblack.svg");
				}
			}

			.signup_submit{
				background: @violet;
				color: @white;
				border-radius: 5px;
				text-align: center;
				font-size: 16px;
				line-height: 20px;
				width: 204px;
				padding: 14px 0;
				border: none;
				outline: none;
				margin: 34px 0;
				display: block;

				.sm-block({
					margin: 50px 0;
					width: 100%;
				});
			}
		}

	}
}