.stock-list {
  position: relative;
  padding-bottom: 153px;

  .lg-block({ padding-bottom: 114px; });

  .md-block({ padding-bottom: 111px; });

  .sm-block({ padding-bottom: 78px; });

  .wrap {
    padding: 0 96px;
    display: flex;
    // margin-bottom: 32px;
    margin-bottom: 64px;

    .lg-block({ padding: 0; // margin-bottom: 30px;
      margin-bottom: 60px; });

    .md-block({ // margin-bottom: 32px;
      margin-bottom: 64px; margin-left: 8px; margin-right: 7px; });

    .sm-block({ flex-direction: column-reverse; margin: 0; // margin-bottom: 20px;
      margin-bottom: 40px; });

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 16px;

      .sm-block({ flex: auto; margin-right: 0px; height: 231px; });

      .header {
        .MBold;
        font-size: 20px;
        line-height: 24px;
        margin-top: 17px;

        .md-block({ .M; font-weight: 600; font-size: 18px; line-height: 20px; margin-top: 0; });

        .sm-block({ .MBold; font-weight: normal; font-size: 16px; margin-top: 23px; });
      }

      .text {
        font-size: 16px;
        line-height: 20px;
        max-height: 80px;
        overflow: hidden;
        color: @grey_text_bold;

        .md-block({ font-size: 14px; line-height: 18px; max-height: 72px; });

        .sm-block({ max-height: 90px; });
      }

      .button {
        font-size: 16px;
        line-height: 20px;
        border: 2px solid #4550B9;
        box-sizing: border-box;
        border-radius: 5px;
        width: 129px;
        padding: 13px 0;
        display: block;
        text-decoration: none;
        text-align: center;

        .sm(align-self, flex-end);
      }
    }

    .image {
      flex-shrink: 0;
      overflow: hidden;
      width: 464px;
      height: 231px;
      position: relative;

      .lg-block({ width: 452px; height: 225px; });

      .md-block({ width: 400px; height: 198px; });

      .sm-block({ width: 100vw; height: 182px; flex: auto; top: 0; left: -16px; });

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .more {
    .MBold;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    height: 22px;
    display: block;
    position: absolute;
    bottom: 78px;
    width: max-content;
    left: 0;
    right: 0;
    margin: auto;

    .lg-block({ bottom: 88px; });

    .md-block({ bottom: 79px; });

    .sm-block({ bottom: 54px; });
  }
}