.training_cards {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  .md-block({
    justify-content: space-around; margin-top: 18px;
  });

  .sm-block({ justify-content: space-around; align-items: flex-start; });

  .training_card {
    display: inline-block;
    text-decoration: none;
    width: 368px;
    height: 348px;
    margin-bottom: 35px;

    .lg-block({
      width: 292px;
      height: 292px;
    });

    .md-block({
      width: 348px;
      height: 334px;
    });

    .sm-block({
      width: 136px;
      height: 156px;
      margin-right: 20px;
    });

    &:not(:last-child) {
      .sm-block({ margin-bottom: 42px });
    }

    .wrap_img {
      width: 100%;
      max-height: 276px;
    }

    h2 {
      margin: 24px auto 0;
      font-size: 20px;
      color: #fff;
      .MBold;
      text-align: center;
      max-width: 300px;
      line-height: 24px;
      text-decoration: none;

      .sm-block({ font-size: 14px; .M; text-align: left; margin: 9px auto 0;});
    }
  }
}


.teaching_menu {
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;

  .md-block({ overflow-x: scroll; margin-left: -16px; margin-right: -16px; padding-bottom: 30px; });
  .sm-block({ display: flex; margin-left: 0; margin-right: 0; padding-bottom: 0; margin-top: 0; });

  .wrap_tab_teaching {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .md-block({ width: 100%; min-width: 950px; padding-left: 15px; });
    .sm-block({ min-width: 720px; });

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid @grey_text_bold;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    h3 {
      font-size: 14px;
      color: #fff;
      padding: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      a {
        text-decoration: none;
        color: @grey_text_bold;
        font-size: 13px;
        text-align: center;
      }

      .sm-block({ padding-left: 0; font-size: 16px; display: flex; justify-content: space-between; align-items: center; });
    }

    .active_tab {
      border-bottom: 4px solid @red;

      //.sm-block({border-bottom: 4px solid transparent;});
    }
  }

  #btn_upload_katalog {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    background: @violet;
    border-radius: 5px;

    .md(display, none);
  }
}

