.to-buyers {
  position: relative;
  margin-top: 129px;

  .md-block({ margin-top: 55px; });

  .sm-block({ margin-top: 57px; });

  .breadcrumbs {
    display: none;
    margin-top: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 23px;

    .md(display, block);

    .sm(padding-left, 16px);

    li:not(:last-child) {
      a {
        text-decoration: none;
        border-bottom: 1px solid #BCBCBC;
        height: 15px;
        display: inline-block;
      }
    }
  }

  .banner {
    height: 356px;
    background: url("../img/mybanner.png") center center/cover no-repeat no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .lg-block({ background: url("../img/mybanner.png") center center/cover no-repeat no-repeat; height: 284px; padding-top: 20px; });

    .md-block({ background: url("../img/mybanner.png") center center/cover no-repeat no-repeat; height: 225px; padding-top: 3px; top: 40px; });

    .sm-block({ background: url("../img/mybanner.png") center center/cover no-repeat no-repeat; height: 223px; padding-top: 0px; padding-bottom: 3px; });

    h1 {
      .MBold;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: -35px;

      .lg-block({ font-size: 32px; line-height: 32px; margin-bottom: 19px; });

      .md-block({ font-size: 24px; line-height: 28px; margin-bottom: -1px; });

      .sm-block({ font-size: 18px; line-height: 20px; margin-bottom: 0px; });
    }
    .info {
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      .lg-block({ padding: 0 46px; });

      .md-block({ font-size: 16px; line-height: 20px; });

      .sm-block({ font-size: 14px; line-height: 18px; padding: 0 28px; });
    }
    .button {
      font-size: 16px;
      line-height: 20px;
      width: 188px;
      text-align: center;
      padding: 14px 0;
      background: #4550B9;
      border-radius: 5px;
      display: block;
      text-decoration: none;
      margin-top: -36px;

      .lg-block({ margin-top: 19px; });

      .md-block({ margin-top: -2px; });

      .sm-block({ margin-top: 0px; })
    }
  }

  .steps {
    margin-top: 103px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 148px;
    padding-right: 154px;

    .lg-block({ margin-top: 48px; padding-left: 172px; padding-right: 173px; });

    .md-block({ margin-top: 32px; padding-left: 145px; padding-right: 145px; });

    .sm-block({ margin-top: 19px; padding-left: 16px; padding-right: 16px; });

    .wrap {
      display: flex;
      flex-direction: column;
      width: min-content;
      align-items: center;
      .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;

        .lg-block({ margin-bottom: 16px; });

        .md-block({ width: 40px; height: 40px; });

        .sm-block({ width: 24px; height: 24px; });
      }
      .icon1 {
        background: url("../img/cart/onblack.svg") center center/cover no-repeat no-repeat;
      }
      .icon2 {
        background: url("../img/lines-code.svg") center center/cover no-repeat no-repeat;
      }
      .icon3 {
        background: url("../img/gift-card.svg") center center/cover no-repeat no-repeat;
      }
      .text {
        text-align: center;
        font-size: 24px;
        line-height: 28px;

        .lg-block({ font-size: 20px; });

        .md-block({ font-size: 16px; line-height: 24px; });

        .sm-block({ font-size: 12px; line-height: 16px; });

      }
    }
  }

  .with-line {
    .MBold;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    width: max-content;
    margin: 114px auto 92px;

    .lg-block({ margin: 87px auto; });

    .md-block({ margin: 70px auto 53px; });

    .sm-block({ font-size: 18px; line-height: 20px; margin: 59px auto 27px; text-align: center; padding: 0 42px; width: auto; });

    &:after {
      content: '';
      width: 96px;
      height: 16px;
      background: #900020;
      position: absolute;
      top: -21px;
      left: 0;
      right: 0;
      margin: auto;

      .md-block({ height: 8px; });
    }
  }

}