// .top-line-userinfo{
// 	background: #1A1A1A;
// 	height: 103px;
// 	display: flex;
// 	align-items: flex-end;
// 	padding-bottom: 20px;
// 	margin-top: 80px;
	
// 	.md-block({
// 		height: 76px;
// 		margin-top: 56px;
// 	});

// 	.sm-block({
// 		align-items: center;
// 		padding-bottom: 0px;
// 		background: inherit;
// 		height: 68px;
// 		margin-top: 64px;
// 	});

// 	.wrapper{
// 		display: flex;
// 		justify-content: space-between;
// 		width: 100%;

// 		h1{
// 			.MBold;
// 			font-size: 20px;
// 			line-height: 24px;
// 		}

// 		.wrap-account_card {
// 	        display: flex;
// 	        justify-content: space-between;
// 	        width: 328px;

// 	        .sm(display, none);

// 	        .block-account {
// 	          display: flex;
// 	          align-items: center;

// 	          	&__icon {
// 		            display: inline-block;
// 		            background: url("../img/user/onblack.svg") center center/cover no-repeat no-repeat;
// 		            height: 24px;
// 		            width: 24px;
// 		            min-width: 24px;
// 		            margin-right: 8px;
// 		            margin-bottom: 3px;
// 	          	}
// 	          	&__head{
// 	            	text-decoration: none;
// 					font-weight: 600;
// 					font-size: 16px;
// 					line-height: 20px;
// 	          	}
// 	        }
// 	        .block-card {
// 	          display: flex;
// 	          align-items: center;

// 	          	&__icon{
// 		            display: inline-block;
// 		            background: url(../img/cart/onblack.svg) center center/cover no-repeat no-repeat;
// 		            height: 24px;
// 		            width: 24px;
// 		            min-width: 24px;
// 		            margin-right: 8px;
// 		            margin-bottom: 3px;
// 	          	}
// 	          	&__head{
// 	            	text-decoration: none;
// 	            	font-weight: 600;
// 					font-size: 16px;
// 					line-height: 20px;
// 	          	}
// 	        }
// 	    }
// 	}
// }


.userinfo-content{
	display: flex;
    justify-content: space-between;
	padding-top: 40px;
	
	.lg-block({
		padding-top: 34px;
	});

	.md-block({
		padding-top: 36px;		
		background: url("../img/background_image.png") 120% -40px no-repeat;
		background-size: 50%;
	});

	.sm-block({
		padding-top: 0px;
		flex-direction: column;
		background: none;
		margin-bottom: 34px;
	});

	.block-avatar{
		width: 272px;
		
		.lg-block({
			width: 212px;
		});

		.md-block({
			width: 162px;
		});

		.sm-block({
			width: 100%;
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
		});

		.wrap-img{
			overflow:hidden;
			width: 272px;
			height: 272px;
			position: relative;

			.lg-block({
				width: 212px;
				height: 212px;
			});

			.md-block({
				width: 162px;
				height: 162px;
			});

			.sm-block({
				display: none;
			});

			img{
				width: 100%;
			    height: auto;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			}
		}
		// img{
		// 	width: 100%;
		// 	height: auto;

		// 	.sm-block({
		// 		width: 103px;
		// 		margin: 0 7px 0 18px;
		// 	});
		// }
		
		.wrap-button{

			a{
				display: block;
				width: 229px;
				font-size: 16px;
				line-height: 20px;
				text-decoration: none;
				border: 2px solid #4550B9;
				box-sizing: border-box;
				border-radius: 5px;
				text-align: center;
				margin: 16px auto;
				padding: 14px 0;

				.lg-block({
					width: 214px;
				});

				.md-block({
					width: 158px;
				});

				.sm-block({
					background: #4550B9;
					border-radius: 5px;
					margin: 16px 0;
					width: 158px;
				});

				
			}

			a.desktop{
				.md(display, none);
			}
			a.tablet{display: none; .md(display, block);}

		}

	}

	.block-info{
		margin-left: 16px;
		margin-top: -10px;
		flex: auto;

		.lg-block({
			margin-left: 24px;
			margin-top: 0px;
		});

		.md-block({
		});

		.sm-block({
			margin-left: 0px;
			margin-top: 24px;
		});

		&__company{
			display: flex;
			align-items: center;
			justify-content: space-between;

			.sm-block({
			    display: block;
			});

			.company-name{
				.MBold;
				font-size: 24px;
				line-height: 28px;

				.md-block({
					font-size: 20px;
					line-height: 24px;
				});

				.sm-block({
					font-size: 24px;
					line-height: 28px;
				});
			}

			.contract-number{
				font-size: 16px;
				line-height: 20px;	

				.sm-block({
					font-size: 14px;
					line-height: 18px;
					color: #BCBCBC;
					display: block;
					margin-top: 22px;
				});		
			}
		}

		&__fio{
			.MBold;
			font-size: 20px;
			line-height: 24px;
			margin-top: 24px;

			.md-block({
				margin-top: 20px;
				margin-bottom: 4px;
				font-size: 18px;
				line-height: 20px;
			});

			.sm-block({
				margin-top: 40px;
				font-style: italic;
			});
		}

		&__position{
			margin-bottom: 26px;
			font-size: 16px;
			line-height: 20px;
			color: #BCBCBC;

			.sm-block({
				margin-bottom: 16px;
				color: #BCBCBC;
			});
		}

		hr{
			border: 1px solid #7A7A7A;
		}

		&__contacts{
			margin-top: 28px;
			
			.block-contact{
				margin-top: 16px;
				display: flex;
				line-height: 20px;
				
				.sm-block({
					flex-direction: column;
				});

				&__head{
					font-weight: 600;
					flex: 1;

					.lg-block({
						flex: 3;
					});

					.md-block({
						flex: 1;
					});

					.sm-block({
						font-weight: normal;
						font-size: 12px;
						line-height: 14px;
					});

					span{
						font-weight: normal;
						color: #BCBCBC;
					}

					.var1{
						.md(display, none);
						.sm(display, inline-block);
					}

					.var2{
						display: none;
						.md(display, inline-block);
						.sm(display, none);
					}
				}

				&__info{
					color: #BCBCBC;
					flex: 1;

					.lg-block({
						color: #FFFFFF;
						flex: 2;
					});

					.md-block({
						flex: 2;
					});

					.sm-block({
						color: #BCBCBC;
						font-size: 14px;
						line-height: 24px;
					});
				}
			}			
		}
		.subscribe{
			margin-top: 42px;
			font-weight: 600;

			.sm-block({
				margin-top: 34px;
			});

			a{
				text-decoration: underline;
				.lg-block({
					display: block;
				});
				.sm-block({
					display: block;
					margin-top: 16px;
				});
			}
		}
	}
}


#breadcrumbs_lk
{
	display: block;
	position: relative;
	z-index: 100;
	margin-top: 30px;
	margin-bottom: 30px;

	.md-block({ margin-top: 70px; });

	li {
		display: inline-block;

		a {
			color: @grey_text_bold;
			font-size: 12px;
			text-decoration: underline;
			line-height: 24px;
		}

		&:last-child {

			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
