@red: #900020;
@bg: #262626;
@inp_bg: #1c1c1c;
@violet: #4550B9;
@grey_text: #7a7a7a;
@grey_text_bold: #BCBCBC;
@pressed: #374198;
@grey_back: #323232;
@grey_back2: #262626;
@white: #FFFFFF;
@gold: #E0AA5A;
@black_button: #0C0D0F;
@blue_back: #4550B9;
@red_back: #900020;
@dark_back: #191919;
@hr: #C4C4C4;
@note_bg: #1c1c1c;
@green_text: #00EF0A;