.header_select_city {
  font-size: 20px;
  .MBold;
  margin-top: 205px;
  margin-bottom: 25px;

  .md-block({ font-size: 18px; margin-top: 22px; })
}

.wrap_select {
  display: flex;

  #city_list {
    background: @inp_bg;
    border: none;
    outline: none;
    padding: 16px 0 16px 16px;
    margin-bottom: 26px;
    width: calc(100% + 35px);
    max-width: 288px;

    appearance: none;

    &:active, &:focus {
      background: @inp_bg;
      color: #fff;
      border: none;
      outline: none;
    }

    option {
      background: @inp_bg;
      color: #fff;
      border: none;
      outline: none;
      height: 50px;
      min-height: 150px;

      &:active, &:focus {
        background: @inp_bg;
        color: #fff;
        border: none;
        outline: none;
      }
    }
  }

  /*  &::after {
      margin-left: -24px;
      margin-top: 16px;
      content: '';
      display: inline-block;
      background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat;
      width: 16px;
      height: 24px;
    }*/

  .down::after {
    margin-left: -30px;
    margin-top: 16px;
    content: '';
    display: inline-block;
    background: url(../img/down/onblack.svg) center center / cover no-repeat no-repeat;
    width: 16px;
    height: 24px;
  }

  .down {
    &:hover {
      display: none;
    }
  }
}

.wrap_map_list_city {
  width: 100%;
  height: 444px;
  display: flex;
  .md-block({ display: block; height: auto; });

  .wrap_map {
    width: 49.3%;
    .md-block({ width: 109%; margin-left: -5%; height: 170px; overflow: hidden;});
  }
}

.city_list {
  width: 50%;
  margin-left: 1px;
  .md-block({ width: 100%; margin-top: 45px; margin-left: 0; });

  &__header {
    font-size: 20px;
    .MBold;
    margin-top: -1px;
    margin-bottom: 18px;
    margin-left: 18px;

    .md-block({ font-size: 18px; margin-left: 0;})
  }

  &__ul-list {
    background: #000;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    .md-block({ overflow-y: hidden; max-height: 308px; width: 109%; padding-left: 3.3%; margin-left: -5%; });

    /* Стилизация скролла */
    &::-webkit-scrollbar {
      width: 14px;
      height: 5px;
    }

    &::-webkit-scrollbar-track { // Задний фон скролла
      background-color: rgba(237, 237, 237, 0.2);
      width: 5px;
      //border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb { // Бегунок
      max-width: 5px;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.51);
      border-radius: 15px 15px 15px 15px;
    }

    /*  &::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.51);
    }
    &::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, 0.51);
    }
    &::-webkit-resizer {
      background-color: rgba(0, 0, 0, 0.51);
    }
    &::-webkit-scrollbar-button {
      background-color: rgba(0, 0, 0, 0.51);
    }*/

    li {
      position: relative;
      padding-bottom: 0.1px;

      &::after {
        content: '';
        width: 109%;
        height: 1px;
        background: #636363;
        position: absolute;
        bottom: 0;
        left: -16px;
        right: -16px;
        
      }

      h3 {
        font-size: 16px;
        margin-left: 16px;
        margin-top: 23px;
        margin-bottom: 24px;

        .md-block({ font-size: 14px; margin-bottom: 16px; margin-top: 18px; });

      }

      .address {
        margin-left: 32px;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;

        .md-block({
          margin-left: 15px;
        });

        &__icon {
          display: inline-block;
          background: url(../img/geo/onblack.svg) center center/cover no-repeat no-repeat;
          width: 24px;
          height: 24px;
          margin-right: 18px;
          opacity: 0.6;

          .sm-block({ margin-right: 10px; });
        }
        p {
          display: inline-block;
          font-size: 12px;
          color: @grey_text_bold;
          line-height: 24px;
        }
      }

      .phone {
        margin-left: 32px;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;

        .md-block({
          margin-left: 15px;
        });

        &__icon {
          display: inline-block;
          background: url(../img/phone/onblack.svg) center center/cover no-repeat no-repeat;
          width: 24px;
          height: 24px;
          margin-right: 20px;
          opacity: 0.6;

          .sm-block({ margin-right: 10px; });
        }
        p {
          font-size: 12px;
          color: @grey_text_bold;
          line-height: 24px;
        }
      }
    }
  }
}

.buy_in_shop {
  margin-top: 95px;
  font-size: 24px;
  margin-bottom: 63px;
  position: relative;
  .MBold;

  .md-block({ font-size: 18px;});

  &::after {
    content: '';
    width: 96px;
    height: 16px;
    background: @red;
    position: absolute;
    top: -22px;
    left: 0;

    .md-block({ width: 92px; height: 8px; top: -15px; });
    .sm-block({ height: 8px; });
  }
}

// Слайдер брэндов
.wrap_for_arrow {
  position: relative;

  .md-block({ margin: 0 auto; width: 100%; });

  .wrap_overflow {
    overflow: hidden;
    margin-bottom: 115px;
    max-height: 40px;

    .wrap-brand {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      max-width: 100%;
      overflow-x: scroll;
      padding-bottom: 50px;
      scroll-behavior: smooth;

      a {
        width: 177px;
        height: 30px;
        min-width: 177px;
        min-height: 30px;
        margin-right: 30px;
      }
    }
  }
  #btn_left {
    position: absolute;
    top: -8px;
    left: -55px;
    display: inline-block;
    background: url(../img/arrow_in_circle/onblack.svg) center center/cover no-repeat no-repeat;
    width: 40px;
    height: 40px;

    .lg-block({ width: 32px; height: 32px; left: -45px; });
    .md-block({ display: none; });
  }

  #btn_right {
    position: absolute;
    top: -8px;
    right: -55px;
    background: url(../img/arrow_in_circle/onblack.svg) center center/cover no-repeat no-repeat;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);

    .lg-block({ width: 32px; height: 32px; right: -45px; });
    .md-block({ display: none; });
  }
}

#show_all {
  display: none;
  margin-top: 30px;
  font-size: 14px;
  color: @grey_text_bold;

  .md-block({ display: inline-block; });
}